[2018-04-24 17:14] mikaelrss commented on #706
Yeah, I can take a look at it.

[2018-04-24 20:14] jackson-sandland opened #707 "dayPicker only updates selectedDay after closing, and opening, and selecting the date again"
When I select the date in the datePicker, the input with the text of the date is correct, but the day represented on the calendar is one day behind.
If I select a date, and close the calendar, and then open it again, the selectedDay is one day behind.
If I select the same date again, and close it, after opening it shows the correct date.
It always tries to set the correct date.
I've console.logged

[2018-04-24 21:13] gpbl commented on #707
Thanks for opening an issue! 👋

* if you are reporting a bug or you want to show a behavior you don't understand, please reproduce it forking this CodeSandbox: https://codesandbox.io/s/XDAE3x0W8
* if you need help, please ask first on Stack Overflow http://stackoverflow.com/questions/tagged/react-day-picker

Would you please share some code? I'll reopen this issue once we have a way to replicate y

[2018-04-24 21:13] #707 closed

[2018-04-24 21:24] gpbl commented on #705
This is: it's up to you to manage _user interactions_ with the component. There's no way this component will tell you when "it changes". _You_ decide when it changes. For example, you decide how days should appear according to a date you have in _your_ component state. We provide however an implementation using the component with input field: http://react-day-picker.js.org/docs/input

[2018-04-24 21:42] gpbl commented on #619
@saraivinha85 https://codesandbox.io/s/n0xnz7ryql works on different browsers on Mac OS.

Anyway, I'm not sure if this is related to the original issue. Also, I don't have the time to debug so much code 😞Try to explain your issue to the folks on stack overflow 😜

I'm closing this as I don't understand what's going on here. Keep things simple and you'll go :)

[2018-04-24 21:42] #619 closed

[2018-04-25 09:51] kbadova commented on #666
Hey, experienced the same issue, as I am creating a redux form field, using the datepicker -> according to the core code, when the value is empty string, `onDayChange`  is called with first argument `undefined`:
[code]

My solution was:
[code]

[2018-04-26 13:34] gpbl commented on #666
@NikitaSasin I cannot reproduce your issue using the latest version:

https://codesandbox.io/s/7m6q1y8xmj

Do you still have this problem? If yes, please write back and help us to replicate it by forking that sandbox. Thanks !

[2018-04-26 13:34] #666 closed

[2018-04-26 13:36] gpbl commented on #623
Closing this because inactivity.

[2018-04-26 13:36] #623 closed

[2018-04-26 20:51] catamphetamine opened #708 "Replace navbar's CSS background with an actual SVG"
The "Next" and "Previous" arrows are styled using CSS SVG background.
https://github.com/gpbl/react-day-picker/blob/master/src/Navbar.js
It could be rewritten using native SVGs as children with `fill: currentColor`.
That would allow theming the date picker with:

[code]

And new properties could be added, like `navIconPrev` and `navIconNext`.

[2018-04-30 14:51] gpbl commented on #708
👋 Thanks for the suggestion, but we prefer to keep the default style as minimal as possible and let the users to change or update it as needed.

[2018-04-30 17:59] catamphetamine commented on #708
This solution would make the default style more "minimal" than it currently is.

[2018-04-30 19:10] gpbl commented on #708
PS. If you need to customize the content of those buttons you can use `navbarElement` prop: http://react-day-picker.js.org/api/DayPicker#navbarElement

[2018-04-30 19:13] catamphetamine commented on #708
Yeah, that would work too.
It's about customizing though.
And inline SVG is about replacing the current defaults.
Ok, not pushing this one, I personally prefer inlining SVGs instead of CSS-ing them in my projects.

[2018-04-30 20:35] catamphetamine commented on #708
Yes.
It's common for React projects to opt for inline SVGs instead of CSS because React has native support for it.

[2018-05-01 16:50] zarjay opened #709 "Can't set DayPicker-wrapper to tabindex="0""
`<DayPicker tabIndex={1}>` works, but `<DayPicker tabIndex={0}>` still sets the tabindex to "-1".

https://codesandbox.io/s/20r8y4y4xr

Setting the tabindex to 0 would be nice for the case when months are restricted and previous/next buttons are no longer displayed. Using the arrow keys to navigate through the months when the wrapper is focused is a nicer experience than when the buttons are focus

[2018-05-01 20:52] zackforbing opened #710 "when using two Inputs, first Input blurs immediately on change"
on the ["Range with two inputs" section of the documentation](http://react-day-picker.js.org/examples/input-from-to), you can see this bug in effect.

Typing in the first input switches focus immediately to the second input. this behavior continues until you select a date for the second input, and once you've done that, then you can type in the first input without interruption.

[2018-05-03 09:22] Arseniy-II opened #711 "Can't localize DayPickerInput"
Hi all, sorry I don't provide repo.
Though it is straightforward bug :)
You just don't pass props `months`, `weekdaysLong`, `weekdaysShort`, `firstDayOfWeek`, `locale` from `DayPickerInput` to `DayPicker`

[2018-05-03 09:30] #711 closed

[2018-05-03 09:30] Arseniy-II commented on #711
Found `dayPickerProps`

[2018-05-04 08:41] kjellaso opened #712 "The daypickerinput doesn't work on IE11 anymore."
The selected date isn't populated in the inputbox

[2018-05-04 18:56] gpbl commented on #672
@Ronny25 This issue is labelled as `good first issue` because I hope someone will take care of it.

[2018-05-05 16:25] jlsorak opened #714 "Cannot default the dayPickerInput to todays date"
You cannot default the dayPickerInput to today's date. I want the datePickerInput to be defaulted to today's date so if the user wants today's date, they don't even have to interact with the calendar to use it.

I thought a possible solution to this would be to set the `value` initially to today's date, however, the component does not `format` the `value` when inputted and therefore the date picke

[2018-05-06 11:38] gpbl commented on #714
I think I understand what do you mean. You were expecting to write:

[code]

instead you need to write

[code]

as in the sandbox above. Correct?

[2018-05-06 13:54] #712 closed

[2018-05-06 14:11] #710 closed

[2018-05-06 14:11] gpbl commented on #710
Thanks for the report!

[2018-05-06 14:34] jlsorak commented on #714
No, `value={formatDate(new Date())}` doesn't work as expected. In the codepen when I set the value like this it parses it in MM/DD/YYYY format instead of the desired DD/MM/YYYY format. E.g. it displays today's date (06 May 2018) as 05 June 2018:
<img width="295" alt="screen shot 2018-05-06 at 15 32 39 1" src="https://user-images.githubusercontent.com/25332734/39674383-fa1e738c-5142-11e8-85e0-4c7c6

[2018-05-06 14:45] gpbl commented on #714
It works this way because you are not saying to `formatDate` how to format the date (see [source](https://github.com/gpbl/react-day-picker/blob/master/src/addons/MomentLocaleUtils.js#L49)):

However you don't need to pass the formatted date to `value` as it accepts a String or a Date: http://localhost:8000/api/DayPickerInput#value

See this example:
https://codesandbox.io/s/7lzn7y2x1

Hope it help

[2018-05-06 14:45] #714 closed

[2018-05-06 14:50] gpbl commented on #705
Well i think the only solution is not to use an input element :)

I'm closing this because I don't know which action should I take here.

[2018-05-06 14:50] #705 closed

[2018-05-06 15:35] gpbl commented on #631
I don't think all these is needed:

See this example:
https://codesandbox.io/s/r44xwwj35o

Hope it helps!

[2018-05-06 15:35] #631 closed

[2018-05-06 15:46] gpbl commented on #642
@kuldarim is this issue still valid?

This example: http://react-day-picker.js.org/examples/input-state does have disabled days but it doesn't hide when user clicks on them.

Uhm no, that delay is used only to provide a feedback to the user that has clicked the day cell.

[2018-05-06 15:46] #642 closed

[2018-05-06 16:04] gpbl commented on #712
This should be fixed in v7.1.7

[2018-05-06 16:09] gpbl commented on #668
This is fixed in v7.1.7. Please report back if you find again a similar issue, thanks!

[2018-05-06 16:09] #668 closed

[2018-05-06 16:10] gpbl commented on #706
This should be fixed in v7.1.7

[2018-05-06 16:10] #706 closed

[2018-05-07 08:56] gpbl commented on #706
Please note it is required to pass `{...props}` to the element if you want to keep the interaction with the input field working correctly

[code]

I've updated the example: http://react-day-picker.js.org/examples/input-custom-overlay

[2018-05-07 08:58] gpbl commented on #652
With the recent fix landed in `v7.1.8` now this is possible again. You need however to use `keepFocus={false}`.

See this example showing an input field in the `overlayComponent`: http://react-day-picker.js.org/examples/input-custom-overlay

[2018-05-07 08:58] #652 closed

[2018-05-07 09:07] gpbl commented on #681
I'm not sure what do you mean here: _The input component has invalid date thats hard to reset._

Please use this code sandbox with the latest version: https://codesandbox.io/s/m7jqv6yyjy The day `onDayChange` is logged as `undefined` if the inputted day is invalid. What should happen when I delete the day manually and press the `TAB` key instead?

I'm closing this, I'll reopen if I can understand

[2018-05-07 09:07] #681 closed

[2018-05-07 10:18] gpbl commented on #672
@Ronny25 I've looked this again but I don't understand where is your issue. With the last release v7.1.8 we have changed how the blur with the input field works. it would be nice to have [a codesandbox](https://codesandbox.io/s/XDAE3x0W8) to reproduce it, i.e. showing how it works now and what is your expected behaviour.

Thanks! I will reopen this once I have more actionable informations.

[2018-05-07 10:18] #672 closed

[2018-05-07 10:29] gpbl commented on #600
I'd like to look at this again but I'm not sure I understand your problem:

https://codesandbox.io/s/93q14zxwl4

1. I click the May 2018 header
2. the wrapper element (`.DayPicker-wrapper`) get the focus
3. now I click the arrows to change the month
4. the wrapper element loses the focus and calls `onBlur`

What you don't like here is the last step, i.e. you are saying we shouldn't call `onBlur` h

[2018-05-08 19:17] zarjay opened #717 "Large year value causes `Cannot read property 'length' of undefined`"
Entering a large year value into `DayPickerInput` causes this error to  be thrown:

[code]

To reproduce, enter in a date with large year value into a DayPickerInput field (e.g., 2000008-08-08). (The issue doesn't occur for large month or day values.)

[2018-05-09 03:14] threeid opened #718 "Have a props to add icon to DayPickerInput"
Hi @gpbl ,

Thank you for react-day-picker!

It would be great if react-day-picker has an icon like
![screen shot 2018-05-09 at 10 08 10 am](https://user-images.githubusercontent.com/37827220/39793809-3bfdb26a-5371-11e8-822e-c497751eb0cd.png)

And usage like:
`<DayPickerInput iconPosition={'left' | 'right'} icon={<SomeIcon type='calendar'/>} />`

Have a great day!
threeid

[2018-05-09 07:51] gpbl commented on #718
Hi @threeid ! You can use the `component` prop: http://react-day-picker.js.org/api/DayPickerInput#component

It allows you to set a different component for the input field.

[2018-05-09 07:51] #718 closed

[2018-05-09 08:02] gpbl commented on #717
Thanks for finding this out, it seems we need to check the year here:
https://github.com/gpbl/react-day-picker/blob/master/src/DayPickerInput.js#L74
otherwise we go beyond the supported dates.

[2018-05-13 10:42] gpbl commented on #686
Closed by #719

[2018-05-13 10:42] #686 closed

[2018-05-13 10:51] #717 closed

[2018-05-13 11:12] gpbl commented on #717
Thanks this has been fixed in v7.1.9

[2018-05-16 09:40] lemcz opened #721 "dateFnsParse in docs is invalid - needs info about version"
Hey guys,

There is an issue with docs:
http://react-day-picker.js.org/docs/input/

There's an example of using date-fns/parse, where it theoretically accepts format. Although it doesn't in current release, accordingly to opened issue: https://github.com/date-fns/date-fns/issues/219.

If one will bump up the version of date-fns to 2.0.0-alpha*, then it works, but keep in mind, that 2.0.0+ versions

[2018-05-16 10:44] gpbl commented on #721
Thanks ! How do you replicate the issue you are talking about? The example is just that - an example. You can use it as inspiration for your own implementation.

[2018-05-16 11:20] hlavo opened #722 "Year and month navigation"
Hi,
i found a bug on your example http://react-day-picker.js.org/examples/elements-year-navigation.  When you choose a month in selectbox and then you go to another month via arrow you can not go on your previous selected month via selectbox.

Thanks for support.

![bug](https://user-images.githubusercontent.com/11485569/40113910-4672be58-590b-11e8-815a-ece0d960f253.gif)

[2018-05-16 16:01] gpbl commented on #721
Thanks! I was indeed looking to the v2 API.

[2018-05-17 17:11] Rohanhacker commented on #682
@gpbl Can I work on this ? I want to start contributing 😃

[2018-05-17 23:59] gpbl commented on #682
@Rohanhacker sure thanks a lot! 🙌🏽 do we want to discuss the implementation a bit first? Any questions?

[2018-05-18 17:36] Rohanhacker commented on #682
@gpbl I was also thinking about using `YearMonthForm` component but It kinda restricts the range of years that can be selected. I think ant design guys solved this in a great way. Perhaps we can do something similar.

![image](https://user-images.githubusercontent.com/9512969/40249154-b77e07fc-5aef-11e8-8a77-d06aed8acee5.png)

[2018-05-23 14:45] matfork-belatrix opened #723 "DayPicker doesn't close until you click on a day if keepfocus is set to false"
I was trying to make a simple implementation of react-day-picker. But I found a problem when trying to close `DayPicker` container when it is triggered from DayPickerInput and the property `keepFocus` is set to `false`.

[code]
Here is the codesandbox: https://codesandbox.io/s/0mn32ryl0n

If you click inside the input the daypicker overlay is displayed correctly and if you click in a empty area of

[2018-05-24 00:49] matfork-belatrix commented on #723
I end up doing something like this,

[code]

This solves the problem, but I don't know if that's the way we should handle that case.

[2018-05-24 06:44] samartha230194 opened #724 "@types support for DayPickerInput"
Just tried to use DayPickerInput from react-day-picker/DayPickerInput

[ts]
Could not find a declaration file for module 'react-day-picker/DayPickerInput'. '/home/samatha/projects/web-lumo/node_modules/react-day-picker/DayPickerInput.js' implicitly has an 'any' type.
  Try `npm install @types/react-day-picker` if it exists or add a new declaration (.d.ts) file containing `declare module 'react-day

[2018-05-24 08:45] gpbl commented on #724
I guess this is a dup of: https://github.com/gpbl/react-day-picker/issues/586

[2018-05-24 08:45] #724 closed

[2018-05-24 09:22] sv3k opened #725 "Calendar day hover effect is flickering"
When you move the mouse cursor in gaps between days — hover background effect is flickering:

![Demo](https://image.ibb.co/dQYUvo/demo.gif)

This issue is reproducible on any DayPicker with hover effects, including [demo website](http://react-day-picker.js.org).

Browser: Chrome 66
OS: maxOS 10.13

[2018-05-24 09:27] gpbl commented on #725
Hi, check out this: https://github.com/gpbl/react-day-picker/issues/610

[2018-05-24 09:28] #725 closed

[2018-05-24 09:36] sv3k commented on #610
Maybe it's worth to fix this issue in default react-day-picker styles.

[2018-05-24 12:09] gpbl commented on #610
@sv3k yeah would you mind to open a PR (provided that it works) thanks!

[2018-05-25 06:47] simformsolutions commented on #92
@henriquea can you provide an example for this?

[2018-05-25 11:43] ekaitzht commented on #589
Could you open the example how you fix it? @mavarazy  THanks

[2018-05-25 14:17] mavarazy commented on #589
https://github.com/RxNT/react-jsonschema-form-extras/blob/a2af51bb25e31ce178ce3f48d271cf12233a3b67/src/ReactDatePicker.js

Line 41 & 80 for the reference

[2018-05-26 14:52] Rohanhacker commented on #682
@gpbl waiting for your comment ?

[2018-05-26 15:47] gpbl commented on #682
Sorry I’ve been busy :)

Something like the ANT design is too much complex and IMO the UX is questionable as well: we would get lot of new issues here on Github 😅

The idea is to use the component already found in the example (maybe we need to update it). Sure this won’t allow to display all the possible years from the big bang :) but I don’t think this is a mayor issue.

When some props are passe

[2018-05-28 08:54] ghost opened #727 "Highlight selected week number"
Hello,

I think there is no possibility to highlight a week number when user clicks on it.

![image](https://user-images.githubusercontent.com/9976176/40606258-188e8d06-6265-11e8-8f78-bc66f50cfeb2.png)

For example, we could have a kind of modifier for week numbers ?

![image](https://user-images.githubusercontent.com/9976176/40606347-6458ec7c-6265-11e8-82ac-be6ed6220153.png)

Do you think that it

[2018-05-28 10:17] Jomimoses opened #728 "dynamic selected day from the server or database"
i want to show the array of  dynamic data  as a selected date ,but there is no option to show multiple days dynamically...
please fix it as soon as possible

[2018-05-28 12:39] gpbl commented on #727
Right, there's no way for now to change that element. We could add a `weekElement` prop so that you can use your own component there.

[2018-05-28 12:40] gpbl commented on #728
How do you say it is not possible? What have you tried?

[2018-05-28 12:40] #728 closed

[2018-05-28 15:27] igodorogea commented on #722
I was able to fix it by adding an event handler for `onMonthChange`.
Here is an example: https://codesandbox.io/s/6w4vpnmz9z line 58

[2018-05-29 14:00] benjam1n opened #729 "Customizing the input to use Material UI"
Hi there!

I'm wondering if there's a way to use Material UI's TextField as a input?

Here's something I tried but can't make it work:

[code]

The error:

`
Uncaught Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might hav

[2018-05-29 14:37] gpbl commented on #729
Please check the `component` prop docs: http://react-day-picker.js.org/api/DayPickerInput#component

[code]

[2018-05-29 14:37] #729 closed

[2018-06-01 15:28] Ne0nx3r0 commented on #586
For the time being I've just fallen back to:

// tslint:disable:no-var-requires
const DayPickerInput = require("react-day-picker/DayPickerInput").default;
const formats = require("react-day-picker/moment");

It's not typed, but at least you can type your interface for it.

[2018-06-01 20:46] matheusml opened #731 "DayPickerInput prevent from typing"
Hi,

I was reading the docs but I didn't find a prop that I could send to the component in order to prevent user from typing in the input.

Is there a way to do it?

Thanks

[2018-06-01 20:55] gpbl commented on #731
[`inputProps`](http://react-day-picker.js.org/api/DayPickerInput#inputProps) prop should work:

[code]

[2018-06-01 20:55] #731 closed

[2018-06-05 19:45] tayanefernandes commented on #681
@gpbl I am having the same issue.
I get the prop `value` from the state. When I type an invalid date on DayPickerInput, like "blablabla", I try to reset the field to empty string after onBlur, but the DayPickerInput doesn't change the input value.

[2018-06-05 19:49] tayanefernandes commented on #666
@gpbl I am having the same issue.
I get the prop value from the state. When I type an invalid date on DayPickerInput, like "blablabla", I try to reset the field to empty string after onBlur, but the DayPickerInput doesn't change the input value.

[2018-06-07 23:56] EleRam opened #732 "Jalaali & Hijri calendar"
Is there any way to use this calendars?

[2018-06-08 14:56] matheusml opened #733 "DayPickerInput value for ranges"
Hi,

I'm using a very similar version of this select range: [http://react-day-picker.js.org/examples/selected-range](http://react-day-picker.js.org/examples/selected-range).

The difference is that I'm using it with `DayPickerInput`.

I need to show the selected range in the input, so I change the `value` prop like this:

[code]

This approach is working fine, the only problem with this is that af

[2018-06-11 07:43] gpbl commented on #732
I don't know. What have you tried so far? Maybe with https://github.com/jalaali/moment-jalaali

[2018-06-11 14:51] mwilliamson-healx opened #734 "Add validity to onDayChange"
For my use-case, it'd be useful to get the validity of the input when `onDayChange` is called. I've made a branch with these changes on: https://github.com/gpbl/react-day-picker/compare/master...healx:on-day-change-is-valid.

Is this something that'd be useful to merge in?

[2018-06-11 15:19] mwilliamson-healx commented on #734
I've also needed to add in a `text` property, so that the input can reflect what the user's actually typed in.

I think what I really want is to have a controlled component version of `DayPickerInput`, but I think the changes I've made on that branch get close enough. Happy to be told of better approaches!

[2018-06-12 14:09] thomas88 opened #735 "Leftover `focusTo` in docs?"
I'm implementing a date range picker in our app at the moment and looking at the examples online. Thereby I noticed that the `focusTo()` function in this example http://react-day-picker.js.org/examples/input-from-to does not seem to be used any more. Am I missing something?

If this is actually not used any more, I can provide a pull request removing it from the docs.

[2018-06-12 14:27] gpbl commented on #735
@thomas88 thanks for spotting this: yes, that must be a leftover... I'd be super happy to receive a PR :)

[2018-06-13 10:08] uvtzxpm opened #736 "Input clears itself when date is invalid"
If I try to change a date from `July 25, 2018` to `July 25, 2020` but while doing so I change the date to something invalid, such as `July 25, 202`, the input clears itself.

So, I have to be very careful not to let the date become invalid. It's a bit frustrating for my users.

I've made a GIF to show what I mean:
![demo](https://i.imgur.com/oMiOnoQ.gif)

(using this page: http://react-day-picker.

[2018-06-14 13:37] thomas88 commented on #735
Thanks for the fast reply. I've opened a pull request here https://github.com/gpbl/react-day-picker/pull/737 :)

[2018-06-14 13:44] #735 closed

[2018-06-14 13:44] gpbl commented on #735
Thanks!

[2018-06-14 21:02] LouisCuvelier opened #738 "Month and year picker"
Hi,

Is there a way to transform the picker into a month picker and a year picker ?

Thanks for this lib and for your help ! 😄

[2018-06-15 11:28] gpbl commented on #738
No, but you can easily implement one for sure, e.g. displaying it [`onCaptionClick`](http://react-day-picker.js.org/api/DayPicker#onCaptionClick). Here there's an example: http://react-day-picker.js.org/examples/elements-year-navigation.

We were talking about a similar feature here: https://github.com/gpbl/react-day-picker/issues/722

[2018-06-15 11:28] #738 closed

[2018-06-15 15:45] LouisCuvelier commented on #738
Sorry, I misspoke. I was talking about something like this :
https://github.com/nickeljew/react-month-picker

[2018-06-19 10:36] sibstark opened #739 "Blur problem with custom input"
Hello. I use react-day-picker with formik
[code]
and if I use DayPickerInput without `component` prop then after "TAB" click it works fine, after DayPickerInput component, coursour jumps to next form item.
![test2](https://user-images.githubusercontent.com/15224416/41591647-fb625784-73c2-11e8-940b-cd3e9e60fe0c.gif)

But if I use  `component` prop with custom input

[code]

Custom input
[code]
It w

[2018-06-20 17:51] lourenci opened #740 "Native date picker shows up over the component on Firefox"
On Firefox, when I define the input's `type: 'date'` through `InputProps`, the html5 native date picker shows up over the `<ReactDayPicker />`.

[POC](https://codesandbox.io/s/30n4qr5r45)
Firefox version: **Quantum 60.0.2 (64-bit)**

![image](https://user-images.githubusercontent.com/2339362/41675261-961e97c6-7498-11e8-962c-10281517d1e0.png)

[2018-06-21 07:02] gpbl commented on #740
@lourenci why do you set `type: 'date'` to the input?

[2018-06-21 11:10] lourenci commented on #740
@gpbl because the mask. When I set the input's type to date, the user can type a date without worrying about typing the `/` among the numbers.

[2018-06-21 12:28] gpbl commented on #740
This is not the right way to do that: obviously if you include the browser’s date picker, it will interfere with the react’s one. You can use the inout’s onChange, onKeyDown events to format the value while the user is typing into it.

[2018-06-21 12:31] lourenci commented on #740
Thank you. I'll do that.

[2018-06-21 12:32] #740 closed

[2018-06-21 13:35] hannescalibrate commented on #689
Created PR: https://github.com/gpbl/react-day-picker/pull/741

[2018-06-24 12:36] LouisCuvelier opened #744 "Month picker"
Hello,

Is it possible to transform the day picker to a month picker (without to have to select a day) ?
Here's an example : https://github.com/nickeljew/react-month-picker

Thanks for support 👍

[2018-07-02 17:11] EleRam commented on #732
I imported 'moment-jalaali' as Moment and then used this:
[code]

but it just changes the input value not the calendar (overlay)

[2018-07-02 19:44] gpbl commented on #732
Please follow this example: http://react-day-picker.js.org/examples/input-moment which implements another language using moment in both input and overlay. Not sure about jalaali however... just give a try 👍

[2018-07-03 09:10] lindskogen commented on #638
Yes, please go ahead with this! Typescript support is broken for now because of this.

Is there anyone working on this at the moment or would you accept a pull request?

[2018-07-04 14:25] maqsudkarimov opened #745 "How can i add class to input?"

[2018-07-05 17:32] gpbl commented on #745
Hi, see https://react-day-picker.js.org/api/DayPickerInput#inputProps

[2018-07-05 17:32] #745 closed

[2018-07-05 17:34] gpbl commented on #744
Hi @LouisCuvelier!

You could mark all the days as selected using `onDayClick` and [`onCaptionClick`](https://react-day-picker.js.org/api/DayPicker#onCaptionClick). Things like `react-month-picker` are out of the scope of this project...

[2018-07-05 17:34] #744 closed

[2018-07-06 23:50] fc opened #746 "Setting custom component results in focus error after selecting a date (this.input ref is null)"
Steps to reproduce:
Click within the input field, then select a date.  Notice the errors appearing in the console.

Here's the repro:
https://codesandbox.io/s/jp60wk9jj3

Error:
[code]

Although in my local development environment I get this slightly different error:
[code]

In either case, it looks like the ref is null at this line:
https://github.com/gpbl/react-day-picker/blob/master/src/DayPick

[2018-07-07 09:48] gpbl commented on #746
Hi @fc yes your component should support a `focus` method ([see docs](http://react-day-picker.js.org/api/DayPickerInput/#component)) or otherwise better set `keepFocus` to `false`.

This is not the first time someone is confused by this, I think I should make that feature optional...

[2018-07-07 09:48] #746 closed

[2018-07-07 10:08] #689 closed

[2018-07-07 15:21] fc commented on #746
Thanks!

And curiously enough I did not realize styled-components do not expose the focus method so for those who may come across this in the future, here are docs on setting up a styled-component to expose focus:
https://github.com/styled-components/styled-components/blob/master/docs/tips-and-tricks.md#refs-to-dom-nodes

[2018-07-07 18:42] gpbl commented on #746
Oh I see! Thanks for the heads up about styles-components, I wasn’t aware of that.

[2018-07-09 04:59] elamperti opened #748 "Stateless function as component prop triggers a warning"
CodeSandbox demo: https://codesandbox.io/s/zqx94zxy0l

Following the [example in the documentation](http://react-day-picker.js.org/api/DayPickerInput#component), adding a `component` property raises an error in the console saying:

I've noticed that @gengue had the same issue as well some months ago ([Gitter message about it](https://gitter.im/gpbl/react-day-picker?at=5a1c3b278b3a9e2c0c2344c6))

T

[2018-07-09 13:44] gpbl commented on #748
Hey thanks for reporting this! The problem with stateless function is that we can't know how to focus the input field, so we use a ref there. This won't give any error from the `v7.1.10` however the field won't be focused when the user chooses a day. We could add a condition to check if the component is stateless and skip the `ref` at all...

[2018-07-09 19:04] fc opened #750 "inputProps.onChange is not called for DayPickerInput after selecting a day"
I would expect `inputProps={{oChange: () => ...}}` to be triggered after selecting a day.

Even looking through the code it definitely looks like it should be executed as can be seen here:
https://github.com/gpbl/react-day-picker/blob/master/src/DayPickerInput.js#L394

I suppose I would expect `onChange` would be triggered before `onDayChange` somewhere around here:
https://github.com/gpbl/react-d

[2018-07-09 19:13] fc opened #751 "Expand the hit / click area / hover of date picker to include the full square of the day"
Right now you can click the small section where there is no circle so I've had a few misclicks thinking I had selected a day but really had just clicked on the little white area next to the circle.

[2018-07-10 06:20] gpbl commented on #751
Hey @fc thanks for your feedback. This is because the cell's CSS has a `border-radius` set. Just remove the `border-radius` and you won't have this problem.

[2018-07-10 06:20] #751 closed

[2018-07-11 11:31] JuhQ opened #755 "Code coverage for DayPickerInput component"
It seems that there is a `if` block which is not covered by the tests:

https://github.com/gpbl/react-day-picker/blob/master/src/DayPickerInput.js#L460-L467

That return is never reached in tests: https://codecov.io/gh/gpbl/react-day-picker/src/master/src/DayPickerInput.js#L466

I spent some time trying to add a test for this but I failed horribly :(

[2018-07-11 14:11] michaelgriffithus opened #756 "Disabled DayPickerInput?"
Is there a way to disable the input on DayPickerInput? I have a scenario where I have to chose a begin and start date and sometimes the start date is fixed and should not be changed.  I would like to see the option to not be able to change the input but show the calendar.

[2018-07-11 19:17] gpbl commented on #756
Have you tried to set it to readOnly? It should work!

[2018-07-12 12:48] JuhQ opened #757 "DayPickerInput range limited to 1000 - 9999"
It seems odd that I can choose dates outside of this range but I can't set the date through the input to be in between year 1000 and year 9999.

My code:

[code]

[2018-07-12 12:49] JuhQ commented on #757
I can set the date to be less than year 1000 with 0999, but this is not a valid representation of a year.

[2018-07-14 18:54] DranikProgrammer opened #758 "Multiple disabled filters"
Is there any option to combine multiple disable filters, or else, why isn't the following example working as intended?
https://codesandbox.io/s/ko2jno8kx3
Thanks

[2018-07-14 18:59] DranikProgrammer commented on #758
Fixed it. Grouped `before` and `after`, grouped `daysOfWeek` and put those in an array... gives an overview of how the internals work, though I think there should be some more info in the examples

[2018-07-14 18:59] #758 closed

[2018-07-17 13:15] gpbl commented on #757
@JuhQ could be a limitation of  momentjs? Could you include the code in a codesandbox so we can test it? Thanks!

[2018-07-19 11:12] mnemanja opened #759 "DayPickerInput documentation about className is incorrect"
This is what the documentation states:
![screen shot 2018-07-19 at 12 55 13](https://user-images.githubusercontent.com/1423218/42938603-1ac76ffe-8b53-11e8-8983-38ac7d424e67.png)
This refers to the React.PropTypes definition within the component.

However, the definition of the className in the `.ts` file speaks differently:
![screen shot 2018-07-19 at 12 57 26](https://user-images.githubuserconten

[2018-07-19 12:44] akki199421 commented on #668
It's breaking in Firefox,

`https://codesandbox.io/s/x7n2qz1kq4`

Date Picker doesn't close when you change a month but don't select a date.

[2018-07-19 19:20] gpbl commented on #668
@akki199421 if `showOverlay` is set to `true` it works this way in any browser.

[2018-07-19 19:24] gpbl commented on #759
Maybe we shouldn't import `ClassNames` here:

https://github.com/gpbl/react-day-picker/blob/master/types/DayPickerInput.d.ts#L4

and use a new `InputClassNames`. Could you open a PR and add it? Thanks.

Please provide an example con CodeSandbox thanks!

[2018-07-20 05:37] akki199421 commented on #668
@gpbl sorry, forgot to remove that, update the code. If you change the month or year, the picker won't close.

[2018-08-01 10:00] daton89 opened #763 "Passing an array to `format` prop doesn't work"
i'm trying to format the date value of a form that come from the server, through initialValues of reduxForm options, but the format of the DayPickerInput does not change as expected.

I'm using moment on the client so i'm started from this [example](http://react-day-picker.js.org/api/DayPickerInput#inputProps).

I've setup the format in Italian locale like so:

[code]

So when i initialize the inp

[2018-08-01 19:55] DimaKacer commented on #666
Why this issue was closed? I believe so far this has not been fixed. Or it due with number of this issue. I mean `#666` )

[2018-08-02 14:48] raRaRa opened #765 "Hard to style with bootstrap and other UI frameworks"
Hi, I'm currently using the `DayPickerInput` to select a day within a form. Works great, but it's incredible hard to style with UI frameworks such as Bootstrap. For instance, I want to use it within an input group, but it's not possible because the `DayPickerInput` component renders a `div` wrapper around the `input` element.

What could I do? I was thinking about simply using the DayPicker compon

[2018-08-03 05:13] parwat08 opened #766 "Add Input Validation and Date Validation"
Hi, The input field must have the input restricted to the number.

Currently, we can type text also. And It would great to see the Date validation like (month range, date range)

Month Validation should also be added like in the `M` placeholder where the range must be up to `1-12`
e.g: February 2018, The last date of February is 28
      And the input format is `YYYY-M-D`
Now, if a user types `201

[2018-08-03 13:20] vigneshkvw opened #767 "How to add icon in input field"
How can i add icon in input field any example code can i get

[2018-08-03 16:14] gpbl commented on #767
Hi, you can use the [`component`](http://react-day-picker.js.org/api/DayPickerInput#component) prop  and set the input component you want.

[2018-08-03 16:14] #767 closed

[2018-08-03 16:15] gpbl commented on #766
@parwat08 the `DayPickerInput` component doesn't make any assumption about how do you want to customize the input behavior. If you need to use an input field working differently, you can use the `component` prop: http://react-day-picker.js.org/api/DayPickerInput#component

[2018-08-03 16:15] #766 closed

[2018-08-03 16:25] vigneshkvw commented on #767
thanks a lot!!!!!!!! got it

[2018-08-05 15:38] pedromagalhaes opened #768 "Disable all the days in the calendar, and enable only an Array of Days"
Hi, as Im mentioning in the title, Im trying to achieve something that i dont think the plugin has yet the capability.

- I need to disable the click of all the days, except an array of days (e.g 2 in jan, 5 in aug, 3 sept, etc.)

Please point me out the documentation to achieve this. I already looked for it both in github, stackoverflow and plugin documentation and there is nothing I could found.

[2018-08-06 13:51] gpbl commented on #768
The `disabledDays` prop can accept a function that can check if the day is in your array of days:

[code]

(it should work, I didn't test it)

[2018-08-06 13:51] #768 closed

[2018-08-08 12:29] raRaRa commented on #765
I ended up using the DayPicker component, and handling the visibility of it myself. E.g. when someone clicks on an input to make it visible, or when clicking outside the DayPicker to hide it.

My suggestion would be to avoid creating any wrapper around the input element (or have it as optional where you can choose the wrapper yourself).

Thanks.

[2018-08-08 12:36] gpbl commented on #765
@raRaRa I was thinking about your issue during the last days and I agree about the wrapper. The reason we use a wrapper was to avoid code to align the overlay relative to the input field (which now is done via CSS). An option could be to use [react-popper](https://github.com/FezVrasta/react-popper) for it, so that `DayPickerInput` would render just the input field.

[2018-08-09 15:55] Sawtaytoes commented on #748
I'm also seeing the warning in `v7.1.10`.

Why not use `document.querySelector` instead of `ref` as an option?

It's not manipulating the DOM, just selecting a field that has the exact same name as you're passing to the `input` anyway. That way, I could give the component `selector="[name='someFieldName']"` or just `name="someFieldName"`, and it would do something as simple as:

[code]

Or is ther

[2018-08-09 17:03] Sawtaytoes commented on #682
The ANT design is the same way Windows 10 does it as well. You click the year + month text, it drops back to a month chooser. If you click the year, now you're on a decade chooser. That's as far as it goes. The UI is very intuitive and would be something nice to see in DayPicker as well!

![image](https://user-images.githubusercontent.com/3948069/43914001-38595198-9bcc-11e8-93e4-05c411a6d60f.png)

[2018-08-13 09:39] akki199421 commented on #668
@gpbl  any updates?

[2018-08-13 13:24] NitaAlexandr opened #770 "Input name"
How can I get the input name of the changed date picker input?

[2018-08-14 05:58] gpbl commented on #770
@NitaAlexandr use `inputProps` prop:

[code]

[2018-08-14 05:58] #770 closed

[2018-08-14 06:49] pedromagalhaes commented on #768
Thanks this is exactly what I needed! 👍

[2018-08-14 10:55] tomalexhughes commented on #756
Not sure if I'm missing something here, I'm passing a readOnly prop set to true but nothing seems to happen to the input?

[code]

Where am I going wrong?

[2018-08-14 10:56] DDDDDanica opened #771 "Add `left: auto` to navigation buttons CSS"
Hey guys,

Really appreciate the hard work on the library, it is light and amazing.
There's a small issue i encountered in terms of styles i think it might be a small improvement.
In the style for DayPicker-NavButton(the left and right arrow to navigate months), the original css is

[code]

However, there's no left style appended to icon, which will result in unexpected layout.

So my suggestion i

[2018-08-14 19:05] gpbl commented on #756
@tomalexhughes:

[code]

[2018-08-14 19:11] gpbl commented on #771
Oh, thanks – I did not know!

[2018-08-15 09:12] Rommadon opened #772 "Disabled days not working in IE9"
![aug-15-2561 16-15-26](https://user-images.githubusercontent.com/25241006/44141204-9f0a2398-a0a6-11e8-911e-b913836362f2.gif)

[2018-08-16 12:40] naisergic opened #773 "By pressing tab in DayPickerInput, the body element is focused if it opened in react modal"
I am using react-day-picker v7.1.10 it is inside react modal, so in your code you are closing date picker on pressing TAB and it has tabindex 0 so when you close it focus goes on body, and then again on pressing TAB focus goes on the close button as react modal put the focus on the first element,

but instead of pressing TAB, we put focus on the opened calendar then also it is working fine.

**It

[2018-08-20 13:18] jwm0 commented on #739
The docs state that in order to keep the input focused:

So here's what you need to do. Your custom input class needs a focus method that once called sets the focus on the element.

If you are using React 16.3+ then here's what you need to do:
1. Create a ref in a constructor:
` this.customInput = React.createRef()`
2. Assign it to your input
`<input ref={this.customInput} />`
3. Create a focus me

[2018-08-21 06:41] gpbl commented on #773
Hi @naisergic! Could you reproduce your issue in a CodeSandbox? https://codesandbox.io/s/XDAE3x0W8

I'm not sure we can do much for fixing this, but maybe using a different `tabIndex` for the Overlay could help (I just need to try). Thanks!

[2018-08-21 06:43] gpbl commented on #772
Thanks, I'll check it out – someone could help with IE9 here?

[2018-08-21 08:54] mattgreenfield commented on #601
@gpbl - would you accept a pull request to improve this?

I believe that focusing the input and hitting the down arrow should focus the date picker. We would need to handle the fact that the input would blur and I'm sure there are many edge cases to work through.

[2018-08-22 22:01] ihd2911 commented on #536
Is there any example on how to set alignment using overlay?

[2018-08-23 09:11] vik7607 commented on #508
I want DayPickerInput should be like text field not inputwithBox  How can i achieve input with text field and drop down for DayPickerInput

[2018-08-23 20:27] beckerei commented on #772
Can you provide a small demo where I can have a look at it. Maybe on codesandbox, if that works in IE9.

[2018-08-24 13:40] ZhoraKhachatryanArmweb opened #776 "Year"
Hello, I have a multiple select,I added year select,but i want show only one year select,that's show me 2 selects

[code]

[2018-08-24 14:38] gpbl commented on #536
@ihd2911 not at the moment, but we are thinking to add some more features related to it in the next major version!

[2018-08-24 14:47] gpbl commented on #776
@ZhoraKhachatryanArmweb sorry I don't understand, could you try to explain better what do you want to achieve?

[2018-08-25 08:28] #586 closed

[2018-08-26 09:14] #771 closed

[2018-08-26 09:31] gpbl commented on #748
This can be a solution, but it is not easy as it seems – since it is possible to change the component of the input element, we really don't know what's inside there, which `name` it has (if it has one) etc.

A solution could be using `findDOMNode`, at

[code]

which will cover the most of the cases (but not the ones with multiple input fields in it).

IMHO the best solution would be to use the [re

[2018-08-26 09:36] Sawtaytoes commented on #748
You're right! That's significantly better.

My reason for not wanting any use of `this` or `ref` is because I'm using stateless functional components and prefer not writing components with a `this` or deal with `ref` if possible.

[2018-08-26 11:12] gpbl commented on #763
I've looked better into your example, @daphnesmit . There are some problems in your code:

1. When you write `onDayChange={input.onChange}` you have to remember that the event handler [get a Date object](http://react-day-picker.js.org/api/DayPickerInput#onDayChange) as first argument. So you can't use the `input.onChange` from redux-form in that way. Instead, you have to write

[code]

2. I have n

[2018-08-26 11:12] #763 closed

[2018-08-26 11:17] gpbl commented on #748
Yeah that's legit! Thanks for the suggestion @Sawtaytoes.

I think however I'll change this behavior in the next major release, which will not require much refactoring from you... but it will protect others from breaking changes I can't see now using `querySelector` 😄

[2018-08-26 16:09] gpbl commented on #736
Thanks @uvtzxpm I've looked a bit deeper into this and the bug has been introduced in #647 to fix #614.

(my investigation follows :)

Let's take this example: http://react-day-picker.js.org/examples/input-state/

[code]

When the user types a day that is not a valid date, we decided in [#647](https://github.com/gpbl/react-day-picker/blob/master/src/DayPickerInput.js#L407-L410) to call `onDayChang

[2018-08-26 17:35] #736 closed

[2018-08-26 17:51] #756 closed

[2018-08-26 18:09] gpbl commented on #734
Hey @mwilliamson-healx sorry for the delay...

If the first argument is `undefined`, the day input is not valid – isn't this enough?

I think you are referring to this issue: https://github.com/gpbl/react-day-picker/issues/736 Patch coming soon!

[2018-08-26 18:09] #734 closed

[2018-08-26 18:27] gpbl opened #779 "v8 checklist"
I'm collecting some ideas about the next major version. Some rows need to be linked to the relative iessue, et.

- [ ] use [popper.js](https://popper.js.org/) for `DayPickerInput` (fix #765 & al.)
- [ ] remove default exports (#638)
- [ ] build with rollup (need send apologies to @TrySound)
- [ ] adopt [render props pattern](https://reactjs.org/docs/render-props.html) for easier customizing the co

[2018-08-26 18:29] ZhoraKhachatryanArmweb commented on #776
I want add year select on the multiselect,if i added it's show 2 select

[2018-08-26 18:33] gpbl commented on #776
@ZhoraKhachatryanArmweb which select are you talking about? Please provide some code thanks!

[2018-08-26 18:41] ZhoraKhachatryanArmweb commented on #776
Year select https://react-day-picker.js.org/examples/elements-year-navigation

[2018-08-26 18:45] ZhoraKhachatryanArmweb commented on #776
[code]

[2018-08-27 08:08] gpbl commented on #733
I'm not sure how difficult is to use `DayPickerInput` for displaying a "<date> to <date>" text into the input. Also, why the need of an input field? Do you expect users to write a range of dates in it? Anyway, it will be easier to test your code from a CodeSandbox (keep in mind, if it is a lot of code I personally won't have the time to look at it).

For what I can see there you are missing a `par

[2018-08-27 08:08] #733 closed

[2018-08-27 14:21] ZhoraKhachatryanArmweb opened #780 "selected days"
How can i add my selected days into array
i use function handleDayClick

[2018-08-27 14:47] olimination opened #781 "Checking for empty input"
Hi,

I want to check if the DayPickerInput field is empty. Currently I just receive an `undefined` for both cases empty and invalid date for the `onDayChange` method. With this I'm not sure if the date field is really empty or invalid.

Any ideas?

A solution proposal could be:
Add a modifier "invalid-date" if the date is invalid or empty if the date input field is empty. In both cases the value/d

[2018-08-28 06:55] gpbl commented on #780
@ZhoraKhachatryanArmweb please [use StackOverflow](https://stackoverflow.com/questions/ask) for submitting your questions – thanks!

[2018-08-28 06:55] #780 closed

[2018-08-28 09:19] gpbl commented on #781
Yes this is true. I could add a third argument to `onDayChange`. I think I could send the `DayPickerInput` instance so you would have full access to it:

[code]

[2018-08-28 09:27] olimination commented on #781
Your solution with a third parameter sounds better 👍

[2018-08-28 10:06] #776 closed

[2018-08-28 11:16] #781 closed

[2018-08-28 11:40] gpbl commented on #781
@olimination please upgrade to `v7.2.1`! Check out this example: http://react-day-picker.js.org/examples/input-state

[2018-08-28 15:33] olimination commented on #781
Thanks a lot @gpbl
I have integrated the new version and it seems to work smoothly!

[2018-08-28 23:06] mxmul opened #783 "Navigate from DayPickerInput to DayPicker with the keyboard"
Hi! This an issue for the accessibility of the component: in this sandbox, try to use the DayPickerInput (i.e. selecting a day without manually typing it in) without touching your mouse: https://codesandbox.io/s/XDAE3x0W8

It's not currently possible, because hitting TAB always closes the overlay. Expected behavior would be that hitting TAB while on the input would move focus to the DayPicker, and

[2018-08-29 04:45] gpbl commented on #783
Do you have some links explaining it should work this way? Someone was suggesting here the key navigation should happen by pressing the DOWN key. Maybe deciding the behavior should be left to the user, in this case https://github.com/gpbl/react-day-picker/pull/761 could be useful.

My opinion is that when bound with an input component it doesn't make sense to navigate the calendar via keyboard – j

[2018-08-29 13:34] spinybeast commented on #469
@bolivier Hi! Did you manage to do this? I can't understand, how to clear date from other component. Input value is cleared, but there is a date in state of DayPickerInput  and I want to erase it as well. If you managed this, please share the secret)

[2018-08-29 14:05] gpbl commented on #469
@spinybeast please share some code, we can update the component to work better for such case.

[2018-08-29 14:32] spinybeast commented on #469
@gpbl Finally I solved like this with some css hacks): https://codesandbox.io/s/7m6q1y8xmj
But if it was possible to change date from `component` prop, it could be awesome)
Thanks for amazing job.

[2018-08-29 17:48] mxmul commented on #783
Tab is a mostly personal preference, and I'm not sure if there is a standard. Navigating to the DayPicker with a DOWN press is good as well.

It's true that you can just type the date into the text field, but the experience is not as good. Using the datepicker directly ensures that you are entering a date in the expected format, that you only select an enabled day, etc... Being able to navigate to

[2018-08-30 15:26] yantakus opened #785 "Buggy with date-fns"
I've created a codesanbox to easily reproduce the issue: https://codesandbox.io/s/7yln949mw6

Select a date range and see how date is formatted incorrectly:

![image](https://user-images.githubusercontent.com/2179726/44861814-02f2e980-ac82-11e8-9d89-dc4858e4d45f.png)

[2018-08-30 16:39] gpbl commented on #785
You should use `date-fns` compatible [format strings](https://date-fns.org/v2.0.0-alpha.9/docs/format). `DD` is the "day of the year".

[2018-08-30 16:39] #785 closed

[2018-08-30 17:04] gpbl commented on #783
Thanks for those resources, they are new :) I see all the example of an accessible date picker triggering the overlay using another button, instead of displaying it when focusing the field.

Anyway, I guess the best option here would be to open the overly when pressing the `DOWN` key.

[2018-08-30 17:15] yantakus commented on #785
@gpbl thanks, my bad!

[2018-08-31 03:56] ajbeaven commented on #554
Has there been a regression here? `disabledDays` works for me with DayPicker but not with DayPickerInput on version 7.2.1.

[2018-08-31 04:40] gpbl commented on #554
@ajbeaven this example uses `disabledDays`: http://react-day-picker.js.org/examples/input-state

[2018-08-31 10:00] ajbeaven commented on #554
Ahh missed that it needs to be supplied in a datePickerProps object. I guess the API has changed since this issue was created. Thanks for putting me right :)

[2018-08-31 17:14] gpbl commented on #554
True! Sorry I missed the original example was wrong :)

[2018-09-05 10:36] egloo8 commented on #748
Hey, I have the same issue! Any chance I could make this warning go away from my side, without editing the library?

[2018-09-05 18:43] vipinbatchu opened #786 "Missing/duplicate months with pagedNavigation"
First of all, great library guys! It's very neat and useful.

I was working on a project where I used the react-day-picker package and I noticed a weird behavior when I give the following props.

[code]
The dayPicker skips (or duplicates if the numberOfMonths is more than 2) a month.

I have reproduced the issue here https://codesandbox.io/s/p98193w530

![image](https://user-images.githubuserconte

[2018-09-05 19:16] gpbl commented on #786
Hey thanks for reporting this issue. Not many people seem using `pagedNavigation`, so maybe nobody noticed this behavior before :)

We actually have [an utility](https://github.com/gpbl/react-day-picker/blob/master/src/Helpers.js#L119) to make a date the first day of the month. Probably we are not using it when `pagedNavigation` is true.

[2018-09-05 19:17] gpbl commented on #757
Reopening when we have a way to reproduce it :)

[2018-09-05 19:17] #757 closed

[2018-09-05 19:18] gpbl commented on #732
Hey @EleRam some follow ups? I'm closing this for now.

[2018-09-05 19:18] #732 closed

[2018-09-06 08:41] gpbl commented on #786
@vipinbatchu this is fixed in `v7.2.3`: https://codesandbox.io/s/9zvjjvv4vw

[2018-09-07 23:59] abdelrahmanahmed opened #788 "Create custom material UI input"
I know that there is a props called `component` and i can pass my custom component to it , but how i can create custom material UI input, i have tried but it seems that i miss something.

Update : i have created a custom one
[code]
[code]

but the problem now is happening on `onDayChange`,it gives and error `Uncaught TypeError: Cannot read property 'value' of null`

[code]

to reproduce the issue

[2018-09-10 13:01] dewey92 opened #789 "Re-enable handleDayClick for disabled dates"
Hi, thanks for this great library beforehand, I really appreciate your work!

However, there's an issue I'd like to address to you regarding this commit (https://github.com/gpbl/react-day-picker/commit/808da17299653462b4f65b89a40d43f16279cc39#diff-e15d85e29b8c7310cbf7799c62521619) which basically ignores `this.props.onDayClick` when the selected date is disabled. In the application I'm developing,

[2018-09-10 16:41] gpbl commented on #789
Yes you are right! That shouldn't have been merged, my bad. Could you revert it? I will do it in the next days otherwise. Thanks!

[2018-09-10 20:40] abdelrahmanahmed commented on #788
@gpbl  i have updated the issue, please check when you are available.

[2018-09-11 15:02] chrise86 opened #790 "Year is incorrect when using date-fns"
Considering the following example which uses date parsing with `date-fns`:

https://codesandbox.io/s/50l9o3mljn

Initially, dates are rendered correctly:

![screen shot 2018-09-11 at 16 00 22](https://user-images.githubusercontent.com/616956/45368592-da50e500-b5db-11e8-91e6-effb2eeacae9.png)

However, after selecting a day the year is wrong:

![screen shot 2018-09-11 at 16 01 30](https://user-imag

[2018-09-11 15:06] #790 closed

[2018-09-12 10:04] yairEO commented on #98
@gpbl - I personally think that you should de-couple the overlay code from the datepicker and have a separate dependency for another positioning lib like [Popper](https://popper.js.org) which is a very strong one.

the reason is that it is highly probably developers already have a positioning script within their project and do not but the added bloat of having another positioning lib within `react

[2018-09-12 10:41] yairEO commented on #98
The alternative would to write in the installation instructions that if a developer wishes to show the datepicker as an overlay, then they should also install [X,Y,Z... you chosose] and then import your scripts **and** the position script as well, and you can provide an example of how to wrap your date picker in an overlay such as `popper` or [`react-overlays`](http://react-bootstrap.github.io/rea

[2018-09-12 13:21] yairEO opened #792 "Bug: custom overlay won't close when pressing `esc` button or clicking outside (once having focus)"
Go here:
http://react-day-picker.js.org/examples/input-custom-overlay

1. (Mouse) click on the datepicker input, an "overlay" should show.
2. Click on any *white* area within the overlay, then press the <kbd>esc</kbd> key
3. Overlay should close, but nothing happens
4. Click anywhere *outside* of the overlay, and again the overlay should close but it's not.

This also happens when giving focus to

[2018-09-12 15:13] dewey92 commented on #789
@gpbl should we close this issue?

[2018-09-12 15:36] daeschwed commented on #748
@egloo8 the workaround suggested by @elamperti works great for me; create a component class for your input and pass that one as the component prop on DayPickerInput.

[2018-09-13 09:51] gpbl commented on #789
Sure! FIx published in `v7.2.4`.

[2018-09-13 09:51] #789 closed

[2018-09-13 20:39] gpbl opened #794 "Move DayPickerInput to another package?"
I don’t think it fits to this package. Also I’d prefer to improve the component itself, not fighting against browser quirks for an overlay :)

[2018-09-13 20:43] gpbl commented on #98
@yairEO you are right in many points. Thinking to move the input component to another package. https://github.com/gpbl/react-day-picker/issues/794

I don’t think it promotes a good UI pattern for the web. I know browser vendors failed to implement a picker so connected to an input field.

[2018-09-14 09:51] rakannimer opened #795 "Great Library !"
Just saying thanks for building and maintaining this 👍

Cheers :)

[2018-09-14 10:56] #795 closed

[2018-09-17 10:54] SergeyVoloshchuk opened #797 "DayPicker is displayed if input is disabled"
Hi!
I am a bit confused. I noticed strange behavior of the component behavior if the input is disabled

![c5smrq5vbh](https://user-images.githubusercontent.com/22756871/45619054-8b45fc80-ba80-11e8-8360-aef0d928870a.gif)

Current behavior:  even if the input is disabled you have the ability to change the date but the onFocus and onBlur event does not work
Expected behavior: We should not be able to

[2018-09-18 06:37] gpbl commented on #756
To be clear: `disabled` will prevent from opening the overlay, `readOnly` will just make the input field read-only (but the overlay will open):

https://codesandbox.io/s/7yymmyokoj

[2018-09-18 13:40] timarney opened #798 "Set first enabled day to tabindex="0""
Wondering if you would accept a PR to alter the code below for Day to accept a prop to select a specific date vs defaulting to the first day of the month (tabIndex 0).

[code]

In most cases the first day makes sense but, I have a use case where a month can have many disabled days.  Users navigating with a screen reader end up navigating a lot of disabled days before finding an enabled date.  In w

[2018-09-18 17:09] samwhale opened #799 "clickUnselectsDay not working with classNames"
Similar to #689, clickUnselectsDay will not work when using classNames. `modifiers.selected` won't catch if the `.selected` class when it has been hashed by classNames.

codesandbox: https://codesandbox.io/s/jnkz4k2rmw. Click on a day, then click on the same day.

## Expected Behavior
When clicking the selected day It should unselect and clear the input.

## Actual Behavior
The selected day and in

[2018-09-19 13:59] JieChang opened #800 "can DayPickerInput Select multiple days ??"
Thanks for opening an issue! 👋

* if you are reporting a bug or you want to show a behavior you don't understand, please reproduce it forking this CodeSandbox: https://codesandbox.io/s/XDAE3x0W8
* if you need help, please ask first on Stack Overflow http://stackoverflow.com/questions/tagged/react-day-picker or join us on Gitter https://gitter.im/gpbl/react-day-picker

PLEASE DELETE THIS LINE AND T

[2018-09-19 14:10] gpbl commented on #800
Nope, it works only for a single day. If you need a multiple day support, you should use `DayPicker`.

[2018-09-19 14:10] #800 closed

[2018-09-20 08:07] JieChang commented on #800
I need the input box，not the DayPicker panel

[2018-09-20 10:51] gpbl commented on #800
@JieChang you can write one your own supporting multiple inputs.

[2018-09-20 18:53] zaferkadi commented on #378
The problem is when passing the Input component like this will not work:
`component={(props) => <Input {...props}/> }`
What will work is passing it like this
`component={ Input }`.
Now this is not really helpful as most of our Input components are custom made and we need to more props.
What do you think is the problem here @gpbl ?

[2018-09-20 20:50] gpbl commented on #378
Me 🤦‍♂️ :)

That part is clearly broken. We should look at how react-select implements custom components (I liked that pattern) and rewrite this part.

[2018-09-21 17:55] DhawalRank opened #801 "Support for HTML 'required' property"
Thanks for opening an issue! 👋

* if you are reporting a bug or you want to show a behavior you don't understand, please reproduce it forking this CodeSandbox: https://codesandbox.io/s/XDAE3x0W8
* if you need help, please ask first on Stack Overflow http://stackoverflow.com/questions/tagged/react-day-picker or join us on Gitter https://gitter.im/gpbl/react-day-picker

PLEASE DELETE THIS LINE AND T

[2018-09-21 19:37] #801 closed

[2018-09-24 03:13] junmich commented on #578
Hello, I got an error on Safari browser. `TypeError: undefined is not an object (evaluating 'firstWeek.length')`, DayPickerInput works fine in other browsers. I used "react-day-picker": "^7.2.2"

Thanks

[2018-09-24 11:36] gpbl commented on #578
@junmich please open another issue, thanks.

[2018-09-25 00:01] ArunChockalingam opened #802 "Clicking on selected day again removes the format"
Code Sandbox: https://codesandbox.io/s/5v1xpq01on

Steps to reproduce:

1. choose a day (format will be MM/DD/YYYY)
2. choose the same day again (format will change to YYYY-MM-DD)

If you choose a different day, then it will go back to MM/DD/YYYY.

Can you please help with this issue or suggest other alternatives. Thanks!

[2018-09-26 07:05] junmich opened #803 "react-day-picker is not working in Safari"
Hello, I got an error on Safari browser. TypeError: undefined is not an object (evaluating 'firstWeek.length'), DayPickerInput works fine in other browsers. I used "react-day-picker": "^7.2.2"

Thanks

[2018-09-26 12:32] wenzoto opened #804 "Can't set empty value for input ( reproduction )"
There was a [similar error](https://github.com/gpbl/react-day-picker/issues/666), but could not reproduce it.

https://codesandbox.io/s/7m6q1y8xmj

### reproduction

<a href="https://gyazo.com/5bbb2bc21ffb6a2bede4045e91cf7ed3"><img src="https://i.gyazo.com/5bbb2bc21ffb6a2bede4045e91cf7ed3.gif" alt="Image from Gyazo" width="538"/></a>

[2018-09-27 09:56] unkls commented on #765
Hi, @raRaRa I'm facing the same problem. How do you manage the display of `DayPicker` ?

[2018-09-27 10:16] raRaRa commented on #765
Hi @unkls

I wrote a component which controls the display of the DayPicker.

Constructor:
[code]

Various helper functions in the component, e.g. to close or open the picker and to check if the user clicked outside the picker, which will close it.

[code]

And the day picker:

[code]

Hope this helps.

[2018-09-27 11:03] unkls commented on #765
Yeah thank's a lot !

[2018-09-28 15:02] tonit82 commented on #803
I have the same issue on Safari and Chrome mobile (iPhone). Is there any solution to this?

[2018-09-29 18:14] yairEO commented on #644
@brunodev18 is asking how to disable any selection of days in the future.  This thread has no actual answer to his question. I came here with the same question btw.

[2018-10-01 06:31] junmich commented on #803
Hello any updated on this? thank you

[2018-10-01 07:37] junmich commented on #803
Hello, I figured it out.

I just removed the month key under the dayPickerProps prop, then it works fine.

Previous code

[code]

Current code:

[code]

Thank you,

[2018-10-01 07:37] #803 closed

[2018-10-01 07:39] junmich commented on #803
check all the props. In my case, I mixed the props from DayPicker to DayPickerInput.

[2018-10-01 15:12] HNBowen commented on #38
@gpbl I'm still seeing this issue in the example and in my own implementation. I'm using v 7.2.4 of the library.

[2018-10-01 16:35] gpbl commented on #38
@HNBowen which example? Here it works: https://codesandbox.io/s/x9rpwqrlz4?module=/example

[2018-10-01 17:05] HNBowen commented on #38
@gpbl Sorry, I actually meant the Day Picker Input example. My bad! You can see the behavior I'm talking about in the 'Works with input fields' example on the react-day-picker.js.org home page. Clicking on the second month in the 'Range of days' calendar advances the calendar to the next month.

I think it may be this line? https://github.com/gpbl/react-day-picker/blob/39ad48ecadb18355e28ee5ef1741

[2018-10-01 17:32] gpbl commented on #38
@HNBowen oh I see. It looks like the `fromMonth` prop in `dayPickerProps` is ignored. Would you open another issue? And maybe investigate this? 🙏🏽

https://github.com/gpbl/react-day-picker/blob/2e936239ba2d9ada55eb3f76e3b4f582638bcddc/docs/src/code-samples/examples/input-from-to.js#L66-L72

[2018-10-01 17:39] HNBowen commented on #38
@gpbl You got it!

[2018-10-01 17:44] HNBowen opened #807 "DayPickerInput: with 2 months, clicking on the second (right-hand) month jumps the calendar forward"
When render-ing the DayPickerInput with 2 months, selecting a day on the right-hand month advances the calendar forward a month.

This can be reproduced on the "Works with input fields" -> "range of days" example at http://react-day-picker.js.org/

Per discussion with @gpbl on #38  this may be caused by the `fromMonth` prop in `dayPickerProps` being ignored.

I'm investigating this issue!

[2018-10-01 19:27] zomars opened #808 "Uncaught ReferenceError: require is not defined"
When trying to follow the localization example I'm getting the following error:

[code]

[2018-10-01 19:41] gpbl commented on #808
Hi @zomars please read

https://github.com/gpbl/react-day-picker/blob/master/.github/ISSUE_TEMPLATE.md

and update your issue! I’ll reopen it when we have more info. Thanks.

[2018-10-01 19:41] #808 closed

[2018-10-01 19:47] zomars commented on #808
Sorry but the sandbox link is throwing an error: https://codesandbox.io/s/XDAE3x0W8

[code]

[2018-10-01 19:49] gpbl commented on #808
Working great here. Which browser are you using?

[2018-10-01 22:49] HNBowen commented on #807
@gpbl After a little digging I'm noticing a few key differences between the example I mentioned and my particular use case.

For one, the example is actually two separate DayPickerInputs while mine is a single DayPickerInput. I think the example behaves exactly as expected, in that the second DayPickerInput is meant to have it's `month` prop (the display month) match whatever month has been set by

[2018-10-01 22:58] zomars commented on #808
On the [sandbox it's working fine](https://codesandbox.io/s/x9pr5o98q4), but in my local install it's displaying this warning, I don't know if it's related:

![image](https://user-images.githubusercontent.com/3504472/46320347-1a800380-c59b-11e8-9284-2bcbd8c89ca2.png)

[2018-10-02 00:52] wkentdag opened #809 "Question: How to Override `onDayClick` Hours?"
I ran into an issue today when using `onDayClick` event to trigger an API call: the date that's returned from `onDayClick` always has its `hours` set to `12`, and after scanning the docs I don't see any way to override this behavior.

You can see it replicated [here](https://codesandbox.io/s/j478xn2z6v) if you open the console and select a random date, note that the time is always noon.

It's easy

[2018-10-04 06:26] PatchOnKnee opened #811 "DayPickerInput is not tab accessible"
DayPickerInput is not tab accessible however the normal DayPicker is. Is there any recommendations for accessibility to be WCAG 2.0 compliant?

You can see this behaviour in the default sandbox: https://codesandbox.io/s/XDAE3x0W8

[2018-10-04 13:31] UselessPickles opened #812 "LocaleUtils should be exported from types/index.d.ts"
Previous versions of react-day-picker exported the LocaleUtils interface in the TypeScript type definitions. This was changed at some point, and LocaleUtils is no longer exported.

Without this exported type, it is still possible, but cumbersome, to obtain the type as follows:
[code]

It would be much more convenient if LocaleUtils was exported by "react-day-picker".

Similarly, the other interfac

[2018-10-05 20:47] yairEO commented on #272
@gpbl - all the links in your comments (in this thread) are dead :)

[2018-10-05 22:08] MitchRivet opened #815 "DayPickerInput prefers typed value over controlled value"
reproduction here: https://codesandbox.io/s/0yjvkzm3vn

I know this is a very specific example, but it has come up in my particular use case. In the example above, I have a DayPickerInput with a controlled value. When I type an invalid date into the input, and the value is updated (from outside of the component) the typed valid is not cleared. This is the opposite behavior when the user changes th

[2018-10-05 22:35] uvtzxpm commented on #736
@gpbl Thanks for fixing this, I really appreciate it. Sorry it took me a while to notice!

[2018-10-06 15:56] platformapp opened #817 "Disable overlay when input is read only"
Similarly to https://github.com/gpbl/react-day-picker/issues/680, the overlay should not be shown if `inputProps.readOnly` is set to true on a DayPickerInput.

[2018-10-18 05:48] peterbartels commented on #817
Please don't.
We are using it to make the input readonly and only showing the overlay. Then we would lose this functionality. Why not add a boolean prop `showOverlay`?

[2018-10-18 05:54] peterbartels opened #819 "Datepicker doesn't hide on outside click when using custom overlay"
Try it here:
http://react-day-picker.js.org/examples/input-custom-overlay

- Click on the textbox to open the datepicker
- Click on arrow-right (to go to the next month)
- click outside the datepicker
- it doesn't close (only when selecting a date)

Same problem occurs when using a custom navbar

[2018-10-18 10:54] mwilliamson-healx commented on #734
It's been a while since I looked at this, but I think the issue is that the `undefined` value doesn't let you distinguish between an invalid date, and the empty state. Exposing the text in the input would suffice for this, which also necessary for my use-case since I'm using it as a controlled component.

[2018-10-22 06:23] cqq123 opened #820 "http://react-day-picker.js.org/ ERR_CONNECTION_RESET"
Thanks for opening an issue! 👋

* if you are reporting a bug or you want to show a behavior you don't understand, please reproduce it forking this CodeSandbox: https://codesandbox.io/s/XDAE3x0W8
* if you need help, please ask first on Stack Overflow http://stackoverflow.com/questions/tagged/react-day-picker or join us on Gitter https://gitter.im/gpbl/react-day-picker

PLEASE DELETE THIS LINE AND T

[2018-10-24 11:21] themre opened #822 "Preserve time when changing in calendar"
Hi,
I'm trying to use datepicker input with time included. But when I try to update day from calendar, I want to keep changed hours and minutes. But when I click in calendar, time is reset to 12:00. Is there a way for calendar to look at hours and minutes and keep those?

codesandbox demo: https://codesandbox.io/s/0m2y6o436l

[2018-10-25 06:10] jgatjens opened #823 "Styled Components does not work with DayPickerInput"
https://codesandbox.io/s/r4x57p6x2o

[2018-10-25 20:57] trietlam commented on #823
I can do it with a wrapper, not sure if it's proper way.
https://codesandbox.io/s/7zoy5293v0

[2018-10-26 01:40] jgatjens commented on #823
I did pretty much the same way but with scss. how I did not think this way.
👍

[2018-10-30 00:28] jack1012t commented on #799
I am looking to contribute here, especially since I've used the repo and decided I would start with a bug marked as easy.  @samwhale what is the use case for unselecting the date if you are clicking the selected date?

[2018-10-30 15:27] samwhale commented on #799
Hi @jack1012t, good question. Although it may not be a feature that is used often, some people may click days to unselect them rather than clearing the input by key input, clearing the input using a button, or resetting the application. This could be the only way to clear the input if the input itself is disabled and the user must only change the day with the day picker overlay.

`clickUnselectsDa

[2018-10-30 19:21] jack1012t commented on #799
Thanks @samwhale I can see that use case, if the input is disabled (sometimes easier to validate the date if you don't let the user provide the data directly), then yes, there's no way to set the date back to blank.  I'll see what I can add here for a fix.

[2018-10-30 20:34] jack1012t commented on #799
Ok @samwhale , a bit of an update.  Running this locally, I get an error if I use the classNames from your codepen:
`classNames: {
    disabled: "Any class",
    selected: "Any class"
}`

I got yelled at in the console until I got the classNames to this point:
`dayPickerProps: {classNames: {
    disabled: "Any class",
    selected: "Any class",
    today: "redred",
    day: "redred",
    outside:

[2018-10-31 13:30] peshoicov opened #825 "Why no reliable callback of opening the date selector?"
I need to fire something each time someone clicks on the input. So I tried with:

onShow={console.log('SHOW')}
onFocus={console.log('FOCUS')}

They all fire when the page loads and never when I click on the input. The date selector with the two months shown, but nothing gets fired.

This is the current implementation:

              <div className={styles.fieldText}>Date Range</div>

[2018-11-01 07:11] alonbt commented on #748
I'm having trouble with the suggested solution since I need to pass a prop to that component:

[code]

If I try to define the component from the outsite I can do something like this:

[code]

the only way to make it work is to somehow create a class component inside the `myComp` component which sounds like a bad practice and I'm not sure it's even possible.

This can be done with redux easily prob

[2018-11-05 10:05] themre commented on #822
I manage to solve this by checking third parameter `DayPickerInput` and its property `hasOverlayFocus`. If user clicks on calendar, this is true and I can take time from existing value, whether if user types inside an input, I don't update time.

[2018-11-05 10:05] #822 closed

[2018-11-07 11:48] peshoicov commented on #825
Finally I ended with remembering the dates and whenever the user changes dates - I'm comparing with the old ones and if there is change - I'm doing the necessary stuff. In other words - now I do things when the dates has changed and not when the calendar opens. Not perfect, but works fine :)

[2018-11-08 07:36] gatispriede opened #827 "formatDate moment integration bug"
Hi there,
formatDate from 'react-day-picker/moment' has a bug parsing years, when you use 2 months, together with input field, changing `to` field to next year , and then re-opening shows previous year, took me a while to figure out that that's the function that causes issues.

Sample code with faulty peace commented out:

[code]

[2018-11-08 07:47] gatispriede commented on #827
Also affects from type same way, data input = normal Date object

[2018-11-10 16:08] asadsahi commented on #748
Just wanted to clarify if this issue conflicts with the documentation as well. Getting same error:

http://react-day-picker.js.org/api/DayPickerInput/#component

[2018-11-11 16:43] VinceSJ commented on #481
@gpbl Would you mind writing up a more complete code example or putting together a basic Code Sandbox to show this process a little more clearly? I had trouble getting it to work and not sure where I'm going wrong.

Because the ref to the DayPicker doesn't get created until render, I can't figure out how to make that ref accessible to methods in the container that's rendering both the DayPicker an

[2018-11-13 12:12] paulcredmond commented on #481
@VinceSJ Create the ref in the constructor, e.g. `this.myRef = React.createRef();`

[2018-11-13 16:23] VinceSJ commented on #481
@paulcredmond Thanks!

In case anyone wants a more complete example of this approach, here you go:
[code]

And if you want to poke around with something more interactive, this is the codesandbox I was using: https://codesandbox.io/s/vp8y0r35l

[2018-11-14 10:43] visualcookie opened #829 "Weird behavior when expanding date"
Hej.

I'm having a weird behavior, which I don't get why it should be like this.

## Expected

When you've selected a date range and want to change the range, the previous range needs to be reset and start from the newly selected day.

## Current

When you've selected a date range and change the range, the range expands to the newly selected date. (See link below)

https://gyazo.com/3b6f7fd5ecabaf

[2018-11-20 16:54] gzzo opened #830 "DayPickerInput's OverlayComponent should accept ref"
To create a responsive day picker, we need to have a ref to the OverlayComponent so we can set it's `left` or `right` attribute such that it doesn't open off screen.

I see two approaches:

1.  Explicit `overlayRef` prop.
2. Add a `overlayProps` prop, and pass `{...overlayProps}`.

Either of these would be implemented [here](https://github.com/gpbl/react-day-picker/blob/master/src/DayPickerInput.j

[2018-11-21 18:40] Flaeron commented on #802
I have the same trouble :(

[2018-11-21 21:41] joalcava commented on #506
Hi @gpbl
First of all, thank you for the awesome work with react-day-picker. I've just spend about 3 hours messing arround with locale just to realize that one have to put  the locale realated properties inside dayPickerProps, it would be nice if you can point it out in the docs.

[2018-11-23 11:36] kirillku commented on #823
To avoid having wrapper, you can pass the right `className` to `classNames` prop of `DayPickerInput`. Check [styling-normal-react-components section](https://www.styled-components.com/docs/advanced#styling-normal-react-components) in `styled-components` docs.

Updated codesandbox: https://codesandbox.io/s/p3427n1m8j

[2018-11-23 16:35] MrBinWin commented on #748
This code works fine without any warnings:

`
class Input extends React.Component {
    render() {
        return <input />;
    }
}

class DurationInput extends React.Component {
    render() {
        return (
            <DayPickerInput component={Input}/>
        );
    }
}
`

[2018-12-02 03:31] amasson99 opened #835 "Make all dates except for certain ones disabled"
Hey there,

I am trying to make it so that in react-day-picker, only the dates that are available are selectable
(i.e. A user is only available for two days, all those other days are disabled and unselectable).

I've tried doing this method:
[code]
But that makes all of the dates unavailable.

Any help would be appreciated, thanks!

Link to where I asked it on SO: https://stackoverflow.com/questio

[2018-12-02 21:51] nmchaves commented on #600
@gpbl Exactly! This last step makes it more difficult to use form validation.

Let's say you wrap the `<DayPicker/>` inside a form and use a form validation library to enforce that the date field is required. In many cases, it's best to trigger the validation on blur. If the user ever clicks _away_ from the day picker wrapper before selecting a value,  it's best to give the user immediate feedback

[2018-12-03 11:47] Alexander-64 opened #836 "set initial month as first available, if current month whole disabled"
So, here is a problem: if all days in the current month are disabled, no matter, react-day-picker shows the current month as initial. Is there another way, except computing a month where are available days for choosing?

[2018-12-03 13:54] johnjesse opened #837 "RTL keyboard handling issues"
Hello,

First, let me say that so far I have found this library to be great!

I have an issue when using the day picker in RTL. the keyboard handling is counter-intuitive. Moving the arrow keys left/right moves the focus of the date in the opposite direction.
See: https://codesandbox.io/s/l9wj0ow469 - use the code-pen to move around the day picker with the arrow keys and you'll see what I mean.

I

[2018-12-03 19:51] scjgit opened #838 "Option to select same weekdays in a month (like all Mondays, .. Fridays)"
We had requirement like when user selects week day title in the month, it should select same week days in that month.
ie: if user selects a week day title (Friday), it should select all Fridays of that month.

![travel](https://user-images.githubusercontent.com/4884103/49397998-f3a49180-f6f1-11e8-85f3-e09f5811bc24.gif)

Solution:
Pass the Month data as a props to weekday to fetch the same week day

[2018-12-04 12:57] johnjesse opened #839 "Focus lost from caption element when choosing a new date"
I am using your example to add years/month dropdowns to the day picker

Use your own example to see the issue
http://react-day-picker.js.org/examples/elements-year-navigation/

If you use the keyboard to focus the month select and choose a month the focus is lost from the control as soon as you choose a month... Instead, the focus should have been returned to the select element. I expect this is b

[2018-12-04 15:55] johnjesse commented on #839
Closing this, it's just because of the way the example is written, it's given a new function each time, If I pull out the function so that it isn't given a new one each time it works fine

[2018-12-04 15:55] #839 closed

[2018-12-07 20:55] voltaaage commented on #838
We have a customized weekday component that allows us to select the weekdays within a given month. The problem we ran into was that weekdays had no context on what month to update so passing the month data down to the weekday component will allow us to get this context.

We're currently using a customized copy of the npm but would like to be able to continue using this library. I imagine this can

[2018-12-08 07:26] Strnadj opened #840 "Add saucelabs for browser testing?"
It will be nice, they also providing badge to shows developers in which browser it works flawlessly.

[2018-12-12 02:00] catamphetamine opened #841 "Outside day classes not applied"
I tried passing `classNames` property.
In short, it adds `rrui__outline` CSS class name to days.

Code:

[code]

The result is that outside days have `DayPicker-Day rrui__outline outside` CSS class.
You can see that `outside` modifier CSS class name is incorrectly generated.

It's the latest version `react-day-picker@7.2.4`.

[2018-12-12 12:21] nemanjacosovic commented on #283
Here is one more example.

First day is Monday.
Disabled **weekends**.
Disabled days **before today**.
Disabled **today**.

`<DayPicker firstDayOfWeek={ 1 } disabledDays={ [new Date(), { daysOfWeek: [0, 6] }, { before: new Date() }] } />
`

[2018-12-16 13:41] realtebo opened #846 "Localization not working"
I am doing this;

[code]

The problem is simply that italian localization is totally ignored.

Am I doing wrong something? What?

PS: Thanks for this precious project !

[2018-12-17 10:45] minuseight commented on #846
When you are using the DayPickerInput the locatisation needs to be set via the  ``dayPickerProps`` property.  I think you will also need to implement the format functions too depending on your setup.

[code]

[2018-12-17 20:29] danoc opened #847 "Clicking on a date fails if input is not already visible on screen"
Hello!

**Reproduction link:** https://codesandbox.io/s/wq906r3rr7

**Steps to reproduce:**

1. Open page and notice that the component works well.
2. Make browser height small.
3. Click on input to open date picker.
4. Scroll down on the page so that the input is no longer visible in the viewport.
5. Click on a date.
6. Notice that the browser jumps to focus on the input and a date is not selecte

[2018-12-17 23:27] catamphetamine opened #848 "`.DayPicker-wrapper` `tabIndex` and `aria-label`"
By default the "wrapper" div is focusable via Tab because it has `tabIndex = 0`.
And also the first day of the month is focusable due to it also having `tabIndex = 0`.

If `tabIndex = -1` property is passed then neither the wrapper is focusable via Tab nor the first day of the month is, because both of them get `tabIndex = -1`.

A finer level of granularity would be more appropriate.
For example,

[2018-12-20 18:13] ArcticZeroo opened #849 "TypeScript types are incomplete and should maybe be moved to DefinitelyTyped"
TypeScript types are pretty incomplete, e.g. DayPickerInput is missing a large handful of parameters. This makes TypeScript obviously fail to compile since it's literally missing parameters.

There's no reason that the types should be in this repo (as far as I know), generally typescript types (especially for modules that are not natively TS) are supposed to be in `@types/DefinitelyTyped` so that

[2018-12-20 18:25] ArcticZeroo commented on #849
It looks like in particular, `format` was being required but didn't actually seem to contribute at all to the day picker working. Adding it allows it to compile again

[2018-12-26 15:12] METWebServer opened #850 "How to properly hide the DayPickerInput overlay"
I'm trying to hide my calendar by clicking the react-day-picker-input element again (it will open when you click it by default). For that, I have a state that records true or false when you click the element. The problem is that when I click again to hide it, it gives me the error below:

TypeError: calendarNode.hideDayPicker is not a function

I tried using showOverlay and hideDayPicker. I saw a

[2018-12-26 19:45] METWebServer commented on #850
Another thing that I've tried, but fails to render properly because of "showOverlay" state was inside the node_module:
../node_modules/react-day-picker/lib/src/DayPickerInput.js
Line 342:
{
    key: 'handleInputClick',
    value: function handleInputClick(e) {
      console.log(this.state.showOverlay);
      if (this.props.inputProps.onClick) {
        e.persist();
        this.props.inputProps.on

[2018-12-27 19:18] METWebServer commented on #850
FIGURED IT OUT!!!

There's no need to update the state, use DOM or attempt to run a public function from your react-app. All you need to do is update react-day-picker from your node_modules.

Man... This needs to go with their next version of react-day-picker...
Check it out!

    {
        key: 'handleInputClick',
        value: function handleInputClick(e) {
          //this.showDayPicker();

[2018-12-27 19:18] #850 closed

[2019-01-02 14:51] davidspiess commented on #849
There are many issues right now with the types available in this repository and since the author doesn't wrote them himself, i support the idea of moving them to `DefinitelyTyped`.

[2019-01-02 15:01] ArcticZeroo commented on #849
Yep, I don't have any personal experience with writing types for DefinitelyTyped but if the author is up for it I can look into it.

It seems that, as a temporary fix, you can add `"skipLibCheck": true` to your tsconfig.json compiler options, and errors will be swallowed for anything in node_modules

[2019-01-03 19:51] cjnickel commented on #804
Ran into this issue as well. Looks like PR #816 should fix this assuming it gets merged.

[2019-01-05 04:30] LuisEgan commented on #706
I'm trying to pass a custom prop to the `overlayComponent` but I can't make it work, if I do any of these the `DayPickerInput` disappears on click without updating the selected date or anything:

The custom overlay:
[code]

The `DayPickerInput` :
[code]

[2019-01-06 18:03] johnjesse commented on #849
I'm curious... why should they be moved to `DefinitelyTyped`? There are many projects that are not written in typescript and maintain their own typings. I would have thought that preferable so that the maintainers can update the typings as they are updating the library. Is it purely a maintenance issue?

[2019-01-06 18:48] ArcticZeroo commented on #849
@johnjesse In a repo not written in typescript, where the maintainers do not actively maintain typings, moving it to DefinitelyTyped makes the typings optional (and they can be easily replaced by a local declarations file), whereas putting it into the module makes it so that a potentially outdated definition throws typescript errors or is missing information :(

[2019-01-07 19:15] ZakTax commented on #849
I just came here to report that ts complains when I try to import `DateUtils` since the typescript defs don't include the `utils` file. I would also appreciate better TS defs

[2019-01-07 19:15] ZakTax commented on #812
I am hitting the same issue

[2019-01-08 09:19] DannyAziz opened #851 "Update example in Docs for captionElement"
The code example [here (Switch between years and months)](http://react-day-picker.js.org/examples/elements-year-navigation ) for captionElement doesn't take into consideration what month your `toMonth` or `endMonth` props fall on.

For example, if your `forMonth` prop falls on May of 2016 the component will still render Jan - Dec for 2016 but instead, you would only want it to show and start on Ma

[2019-01-09 16:51] vertic4l commented on #812
same here

[2019-01-09 17:15] UselessPickles commented on #812
There's already a PR for this that have been open since Nov 28, 2018. Can we get this merged? It's a one-liner: https://github.com/gpbl/react-day-picker/pull/834

[2019-01-10 07:46] vertic4l opened #852 "Missing feature: onDayChange for DayPicker"
Could you add a callback e.g. onDayChange for DayPicker as well ?
Need to figure out if endDate was changed and can't find any suitable callback.

And please fix TypeScript type definitions.

[2019-01-10 08:00] #852 closed

[2019-01-10 18:34] developer239 opened #853 "Why is onChange handler called onDayChange? 🤔"
Why is `onChange` handler called `onDayChange`? 🤔

Please, don't take it the wrong way but imagine someone creating a react button component and instead of `disable` or `isDisabled` prop you would have to write something like `shouldIgnoreClick`.

[2019-01-11 17:02] pmarcelll commented on #853
[`onDayChange`](http://react-day-picker.js.org/api/DayPickerInput/#onDayChange) is different from `onChange`, it doesn't receive an event, but three different parameters. If you want to call onChange, it's also available.

[2019-01-11 18:23] developer239 commented on #853
`DayPicker` does not have any `onChange` prop: https://github.com/gpbl/react-day-picker/blob/master/src/DayPicker.js#L113

[2019-01-14 20:58] raRaRa commented on #809
I ran into the same issue. Is there any specific reason why the hours is set to 12, instead of 0?

[2019-01-15 00:00] giladgray opened #855 "why is months undefined in CaptionElementProps?"
the type for `CaptionElementProps.months` is declared as `undefined`, but I don't think that's true. is this a bug in the types?

https://github.com/gpbl/react-day-picker/blob/master/types/props.d.ts#L13

[2019-01-15 17:43] giladgray commented on #855
@gpbl ping here? a quick answer would be appreciated. i'm happy to submit a PR if needed.

[2019-01-16 15:46] johnjesse commented on #855
Would #842 cover it?

[2019-01-16 18:36] giladgray commented on #855
@johnjesse yes that would do it!

one concern is that elsewhere in the types, `months` is typed as a 12-element `string` tuple: https://github.com/gpbl/react-day-picker/blob/39ad48ecadb18355e28ee5ef1741ca484949760d/types/props.d.ts#L65-L78

[2019-01-16 18:40] johnjesse commented on #855
Yep, I've submitted a PR to also change that to `string[]` (#843 ) as in my experience it is unwieldy, but if that isn't taken I'd happily change #842 to match the 12-element `string` tuple

[2019-01-18 12:44] pmarcelll commented on #853
`DayPicker` doesn't seem to have an `onDayChange` prop either.

[2019-01-18 16:44] p-j commented on #130
The problem is more with how inconsistent `Date()` is across browsers and event within its API.
This below runs in latest Chrome as of this writing:
[code]

This is due to `new Date()` treating date only input as UTC and effectively parsing `2019-01-01T00:00:00Z` and then converting it to local time.

An easy workaround if you don't care about the time is to instead use
[code]
This effectively for

[2019-01-19 18:20] developer239 commented on #853
It looks like the project I am working on has quite an old version of your package. I will migrate it maybe it will fix my issue. 🙂

[2019-01-19 18:20] #853 closed

[2019-01-21 06:39] matthewmcclatchie commented on #748
Stumbled across this today whilst looking for a solution to the same problem.

Following the guide in the docs and passing the props to the `component` and returning a new component with the props spread into it (`...props) resulted in the same error.

Both @elamperti and @MrBinWin 's solutions worked for me. In my case however, I was using a Styled Component as the input for the `component` prop

[2019-01-22 07:16] grayChilli opened #856 "Pressing enter on DayPickerInput inside a form causes submit"
Similar as minor bug #443.
It's about day picker input with dropdown calendar.
Even when read-only, read-only input field could receive focus. If you press enter the form will be submited.

[code]

[2019-01-23 05:24] saveraa opened #857 "in ipad calender view is not opening after first time."
Thanks for opening an issue! 👋

* if you are reporting a bug or you want to show a behavior you don't understand, please reproduce it forking this CodeSandbox: https://codesandbox.io/s/XDAE3x0W8
* if you need help, please ask first on Stack Overflow http://stackoverflow.com/questions/tagged/react-day-picker or join us on Gitter https://gitter.im/gpbl/react-day-picker

PLEASE DELETE THIS LINE AND T

[2019-01-23 05:24] saveraa opened #858 "in ipad calender view is not opening after first time."
Thanks for opening an issue! 👋

* if you are reporting a bug or you want to show a behavior you don't understand, please reproduce it forking this CodeSandbox: https://codesandbox.io/s/XDAE3x0W8
* if you need help, please ask first on Stack Overflow http://stackoverflow.com/questions/tagged/react-day-picker or join us on Gitter https://gitter.im/gpbl/react-day-picker

PLEASE DELETE THIS LINE AND T

[2019-01-23 05:24] saveraa opened #859 "iPad: DayPicker not opening after first tap on input field"
![img_0325](https://user-images.githubusercontent.com/45925405/51585555-d4f79580-1eff-11e9-9d79-5796932fafe0.png)

After selecting one date. The calendar toggle don't open on again select.

[2019-01-30 19:56] walterdn commented on #815
I believe this is the same issue as:
https://github.com/gpbl/react-day-picker/issues/804

[2019-01-30 22:39] amasson99 commented on #835
@tricinus Hey there, I figured it out. Heres the code we ended up using
`
<DayPicker
              selectedDays={this.state.selectedDays}
              onDayClick={this.handleDayClick}
              disabledDays={(day => (availableDateStrings.indexOf(day.toDateString()) === -1))}
            />`

[2019-01-31 22:35] tricinus commented on #835
Thanks @amasson99 !

[2019-02-01 20:47] batmantis opened #861 "The default `initialMonth` is determined on import instead of on mount"
The default value of the `initialMonth` prop is determined when the file is imported instead of when the component is mounted.  This is the opposite of what I would expect to happen.  For example, if the component is loaded close to midnight on the last day of the month and the component is mounted the following month, then the month will be wrong.

It's a little tough to demo the behavior, but th

[2019-02-03 11:02] raRaRa commented on #130
This has been really confusing. In my use case I want everyone to pick a date in UTC. Is this possible with this library? When I select a date such as 2019-02-03 in UTC, and I change the time zone to something way off on my PC, and I open the date 2019-02-03 which was previously selected in the date picker, it shows 02-02 as selected. Does selectedDays convert the Date to local time? Thanks.

[2019-02-06 18:25] glockjt opened #864 "Release Plan"
How often do you plan to release changes?  There is a backlog of PRs that are pilling up.  It would be nice to get some of these fixes into master.

[2019-02-12 14:24] mithunmaddur opened #865 "modules/react-day-picker/types has no export for 'DateUtils'"
Error :react-day-picker/types"' has no exported member 'DateUtils'.

[code]

Have checking node modules types/utils.d.ts

[code]

[2019-02-13 12:27] mithunmaddur commented on #865
After change index.d.ts from node modules

https://github.com/gpbl/react-day-picker/blob/7d2625288f022b9df0b94348b68ba08b0f3e584f/types/index.d.ts

Please suggest any fix for latest  version to use

[2019-02-14 10:00] jordan-jarolim opened #866 "numberOfMonths withCaptionElement."
Hi all,

I ran into one issue I am not sure how to solve. It has been already discussed here: https://github.com/gpbl/react-day-picker/issues/623. The problem is in combination of `numberOfMonths` with `captionElement` in `DayPickerInput` component.

When using `numberOfMonths > 1`, the `captionElement` (sent via `dayPickerProps`) is rendered for each of displayed months (DatePickers). However, I

[2019-02-15 01:30] matthova commented on #819
Ran into the same problem. Going to do a bit of digging to see if I can find out why, but let me know if you've found a workaround

[2019-02-18 14:51] udayakumarswamy opened #867 "Issue with today date class"
If I want to set the calendar time zone to another, Today date styles applying as per my current system timezone.

Details: If my system date is 18-Feb-2019, If I would like to test for another timezone which is having date 19-Feb-2019.

Actual behavior: In this case today active class applied to 18-Feb-2019 Date.
Expected behavior: Today active class should be applied to the 19-Feb-2019 Date.

An

[2019-02-19 16:00] Morgan-jarry opened #868 "Fix typo in documentation"
https://github.com/gpbl/react-day-picker/blob/31d0ea66e9e6701a41eefbb29612de40462e5edc/docs/src/pages/examples/disabled.js#L10
https://github.com/gpbl/react-day-picker/blob/31d0ea66e9e6701a41eefbb29612de40462e5edc/docs/src/pages/examples/disabled.js#L13
`disasbledDays` should be replaced by `disabledDays`.

[2019-02-20 04:13] ekobayu opened #869 "Add icon in Component get error 'Attempts to access this ref will fail'"
Hi,

I get error when passing some props combine with icon. Here is my code.
[code]

at `component={props => <Input icon='calendar alternate outline' {...props} />` I get error

I follow suggestion from here but not works. [https://github.com/gpbl/react-day-picker/issues/748#issuecomment-441282377](url)

Current Version:
[code]

Please Help.

[2019-02-20 09:57] ekobayu commented on #869
Maybe someone have same problem. Finally I got the solution. The problem is in the 'ref' cannot use in component so I set null for the 'ref' at inputProps. Here is for the full code.

[code]

[2019-02-20 09:57] #869 closed

[2019-02-21 06:33] #812 closed

[2019-02-21 07:09] #593 closed

[2019-02-21 07:27] #868 closed

[2019-02-21 08:19] gpbl commented on #864
Hey @glockjt thanks for asking!

I enjoy maintaining this project but lately I haven’t had much time. The more I leave this repo alone, the more daunting is to start working on it again 😅 I found the courage to look at the issues/PRs: it is not that bad as I thought. It is rewarding seeing other people care about its progress.

Updates are coming in the next months as I think I'll have some more f

[2019-02-21 08:19] #857 closed

[2019-02-21 08:20] gpbl commented on #864
For example, which bots could help me organizing the issues?

[2019-02-21 08:24] gpbl commented on #858
Closing as dup of #859

[2019-02-21 08:24] #858 closed

[2019-02-21 08:25] gpbl commented on #856
This is the desired behavior. What do you expect to happen instead?

[2019-02-21 08:29] gpbl commented on #867
What have you tried so far?

I don’t think this is related to this library: better search on stack overflow for [similar issues](https://stackoverflow.com/questions/12220717/how-to-mock-the-browsers-timezone).

[2019-02-21 08:29] #867 closed

[2019-02-21 08:30] gpbl commented on #866
Sorry could you explain your issue better? I’m not sure I understand. Some code examples?

[2019-02-21 08:32] gpbl commented on #855
#843 and #842 are merged – they should fix your problem @giladgray (release coming soon). If not, please reopen.

[2019-02-21 08:32] #855 closed

[2019-02-21 08:43] gpbl commented on #849
Type definitions were on [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped), but we run in the opposite issue: they weren’t in sync with the latest releases. We decided anyway to move the definitions to this repo – which I think it is fine, because they don’t require much extra work.

However, @ArcticZeroo is right observing that type definitions here are not a first-class citiz

[2019-02-21 08:53] gpbl commented on #861
Hey this is an interesting bug. Thanks for catching it up and the repro.

[2019-02-21 08:56] gpbl commented on #846
@minuseight is right! @realtebo please write back if you still have this issue.

[2019-02-21 08:56] #846 closed

[2019-02-21 08:58] gpbl commented on #840
Yeah I’d love to add functional tests too!

[2019-02-21 08:59] gpbl commented on #837
Fixed with #845

[2019-02-21 08:59] #837 closed

[2019-02-21 09:00] gpbl commented on #836
@Alexander-64 do you still need help for this? Also, a way to reproduce it would be nice. I’ll reopen it if you write back :)

[2019-02-21 09:00] #836 closed

[2019-02-21 09:01] gpbl commented on #835
(Seem solved – closing)

[2019-02-21 09:01] #835 closed

[2019-02-21 09:03] #820 closed

[2019-02-21 09:06] gpbl commented on #809
It is set to noon for avoiding timezone issues. Not sure if we can fix them differently, but I’m open for suggestions :)

[2019-02-21 09:06] #809 closed

[2019-02-21 09:17] gpbl commented on #864
Here some of the stuff I'd like to work on:

- remove the input component, it is really a bad idea
- make sure timezone issues are fixed / UTC mode
- maybe a better website, with versioning support (docusaurus?)
- what are labels that could actually help?
- move to typescript?
- do github’s “project” make sense? Would they help organizing the releases?
- find a better name for the concept of “modi

[2019-02-21 10:50] davidspiess commented on #864
All the points you make sound reasonable. Especially first class typescript support would be awesome!
I can imagine the daunting task to keep incoming issues low, so don't feel bad for taking some time off, especially if you do something for free! You do a great job :)

[2019-02-21 10:52] andrewsteadcc opened #870 "DayPickerInput - dayPickerProps{{selectedDays}} do not let you change the variable name 'from' and 'to'"
Fork created here: https://codesandbox.io/s/n4ql4ok264

The issue is that you can only use the variables "from" and "to" when using dates to highlight the start and end selected days.

The example will show in Example.js render function I created 2 constants which replicate the from and to variables but called testFrom and testTo.
I assigned these to the start datepicker but not the end datepicker

[2019-02-21 11:15] andrewsteadcc commented on #870
This can be ignored I figured it out by investigating the react states and props in comparison

For anyone interested:
Example code
`dayPickerProps={{
    selectedDays: [from, { from, to }],
    disabledDays: { before: from},
    modifiers,
    month: from,
    fromMonth: from,
    numberOfMonths: 1,
}}`

If you are using your own variables for the from and to dates change the following to assign

[2019-02-21 11:15] #870 closed

[2019-02-22 23:45] matthova commented on #819
PR: https://github.com/gpbl/react-day-picker/pull/871

[2019-02-23 19:05] grayChilli commented on #856
There is a form with a more than 10 fields. I would like to prevent users from accidentally submitting a form by hitting Enter on any field including dayPickerInput. preventDefault does not work with dayPickerInput.

[2019-02-25 00:24] gpbl commented on #856
If you want to prevent a submit you should prevent the submit default event, like:

[code]

[2019-02-25 00:24] #856 closed

[2019-02-25 19:02] matthova commented on #819
As described in #871 I'm not sure how to patch the bug while maintaining standard behavior.
Instead  I'm going to create a fork where `showOverlay` is driven by props.

[2019-02-27 17:18] glockjt commented on #864
@gpbl Sorry for the delayed response.  I would be willing to help out and maintain this repo, maybe we could have a conversation some time to discuss what this would entail if I started helping you maintain.

[2019-02-28 08:42] belmirp opened #875 "Different time when date is typed in the input field"
`<DayPickerInput placeholder="DD/MM/YYYY" format="DD/MM/YYYY" onDayChange={day => console.log(day)} />`

If you click on a day from the dropdown, you get value:

If you type the same date, you get this value:

In some scenarios, e.g. when comparing selected value to `new Date()`, this could give wrong result.

[2019-02-28 10:15] zek0faws opened #876 "Preset date button"
Hi,

First of all, thanks for this react day picker, really nice.

But there is one missing feature (or maybe I didn't found it) : multiple preset buttons.

Here's an example :
![image](https://user-images.githubusercontent.com/5436815/53559135-c37e5a80-3b49-11e9-88a1-bdd800907482.png)
It's from [Airbnb react dates](http://airbnb.io/react-dates/?selectedKind=PresetDateRangePicker&selectedStory=def

[2019-03-04 03:37] kristoff2016 opened #877 "Request: Is it possible to implement func swipe left or right change month ?"
Thank you for nice plugin.

[2019-03-07 02:43] gpbl commented on #877
Not at the moment. I think you would need an animation for that, which we don’t support now, or add multiple calendars and implement this by yourself.

[2019-03-07 02:43] #877 closed

[2019-03-07 02:45] gpbl commented on #876
Nope, sorry: I prefer we focus on the calendar features without making too much assumptions. But, you could publish your work on npm if you are brave enough 💪

[2019-03-07 02:45] #876 closed

[2019-03-07 02:48] gpbl commented on #875
Yeah I also would expect the time being set to `12:00:00`.

[2019-03-07 02:49] gpbl commented on #865
Please send a PR thanks 🙏

[2019-03-09 07:31] Way-U-Need commented on #875
you can use inputProps and set readOnly property so that user have to select from dropdown and can not type manually to avoid this conflict

[2019-03-10 11:12] emjeard opened #878 "Daypickerinput switch year & month"
Hi, can i implement this http://react-day-picker.js.org/examples/elements-year-navigation/ on daypicker input ?

when i try implement, datepicker always show before i click input field.

how to solve this?
thanks before

[2019-03-12 09:31] justduy opened #879 "[BUG] today style modifier overrides selected"
EXPECTED BEHAVIOUR
---
When selecting today, it should apply all selected styling from `modifiersStyles`

ACTUAL BEHAVIOUR
---
Today's color overrides the selected color

CODE SANDBOX
---
https://codesandbox.io/s/21kx15xqyp

**EDIT:** Another bug is also displayed in this same sandbox, the selected day won't dissapear when changing months if style modifier is used.

[2019-03-14 02:46] iamacatperson opened #880 "Switch between years and months on DatePickerInput not working properly on iOS browsers"
I saw a similar issue last time #579 and it has been fixed.

However, it seems like the same issue is still happening if you open it on an iOS browser (using iPhone / iPad). So far tested in Safari and Chrome and both showing the same behavior where clicking the months/years dropdown will temporarily show the options but then it'll disappear after a split second.

To test you may open this example

[2019-03-15 15:51] rootlinux2 commented on #848
To make this calendar more accessible I think you need to add ARIA-* props to the wrapper because as a developer I need to control all these features.

[2019-03-16 01:28] sonsonixon commented on #765
I use `inputProps={{ className: 'form-control' }}` to add CSS class in react-day-picker

[2019-03-18 19:39] kpereda commented on #878
hey @emjeard  how are you passing the props? I've implemented the example you mentioned by doing this and works well

[code]

[2019-03-21 11:58] mathiasgv opened #882 "Disable key events, that change month/year"
There is no way to disable the default keyboard events, for navigating between months and years(UP / DOWN / LEFT / RIGHT)

It would be nice, to have a way, to disable/override the handleKeyDown and handleDayKeyDown, in DayPicker.js.

I am asking, because currently on my page, some users are using the arrow keys, to scroll down further on the page, sometimes while having the DayPicker open, and the

[2019-03-27 17:04] panczarny opened #884 "Module not found: Error: Can't resolve 'react-day-picker'"
Hello!

I just faced a really weird behaviour.
I was developing locally, installed `react-day-picker`. Everything was fine. Then, I pushed to my gitlab, where I have auto deploy job. The output from it is following (I'm using `image: node:10.9.0` but it doesn't matter, if I go back to 9 - checked that):
[code]

Things I tried and didn't work:
* Forked the package and ran from my GH
* Changed node

[2019-03-28 13:39] hristo-kanchev commented on #884
I can't see anything in the logs where you actually do `yarn install` or `npm install`. Are you sure you are running this command?

[2019-03-28 20:36] panczarny commented on #884
Heh. That was what I was missing...
I removed part of my `gitlab-ci.yml` to make my pipeline faster. But I didn't catch, there was `npm i`...
Thank you, for pointing this out :)

PS
Gitlab runner has cache on `node_modules`, that's why other stuff was still working

[2019-03-28 20:36] #884 closed

[2019-03-29 09:20] Mracobes9 opened #886 "How to reset value of daypicker?"
Hi. How to reset value of day picker ?

[2019-03-29 14:12] JonasGaldikas opened #887 "'DateUtils' only refers to a type, but is being used as a value here."
Hello guys,

i thought i can reproduce error on sandbox, but it worked perfectly on it. Error i got is "'DateUtils' only refers to a type, but is being used as a value here." . Maybe someone has confronted similar error?

I am using --Select days on mouse enter-- 100% coppied from examples.

Maybe have any solutions? Thx in advance :)

[2019-03-30 22:32] zubhav commented on #886
Here is a possible solution using component state

`
const DateComponent = () => {
    const initialValue = new Date();
    const [currentDate, setCurrentDate] = useState( initialValue );

    function reset() {
        setCurrentDate( initialValue );
    }

    return (
        <DayPicker selectedDays={selectedDate} />
    );
};
`

[2019-04-01 22:20] trevordmiller commented on #209
@gpbl Is the .css file import still required? I would prefer to use declarative CSS-in-JS library or inline styles if possible so I don't need to bundle .css. It seems all of the examples still import `import 'react-day-picker/lib/style.css';`

[2019-04-02 15:20] frontyard commented on #723
I have the same issue. Calendar container closes on blur only first time it's opened. Every other time day must be selected before container is dismissed. This happens whether keepfocus is true or false.

The above "solution" by @matfork-belatrix sort of works except for using name="main-container", which limits the number of instances of react-day-picker to 1.

[2019-04-02 17:39] aekt opened #889 "Return values of custom handlers not returned"
Hi, thank you for the library!

I see that most custom handlers are treated in this way:
https://github.com/gpbl/react-day-picker/blob/421af9f56b1b07ed58f864678b3bbb8617cdaff7/src/DayPickerInput.js#L428-L438

But this ignores the return value of the custom handler, would it be better if we do something like:
[code]
But I'm not sure if it'll cause unexpected problems by side-effect. Or is the curre

[2019-04-03 08:26] #887 closed

[2019-04-03 08:27] JonasGaldikas commented on #887
Delete issue pls.

[2019-04-08 07:29] theochampion opened #892 "Remove focus ring on click"
Hi,

Great work with that module, love it!
I was wondering if there is any way to remove the focus ring that appear on click:

<img width="242" alt="Screen Shot 2019-04-08 at 5 25 07 pm" src="https://user-images.githubusercontent.com/14275989/55706121-c0696a80-5a23-11e9-97f1-09fae089ce94.png">
<img width="267" alt="Screen Shot 2019-04-08 at 5 24 57 pm" src="https://user-images.githubusercontent.co

[2019-04-08 11:09] gpbl commented on #892
Yes, learn about the [`:focus` pseudoselector](https://developer.mozilla.org/en/docs/Web/CSS/:focus). I wouldn't remove it for usability reasons though…

good luck!

[2019-04-08 11:09] #892 closed

[2019-04-08 21:20] FaganSC commented on #887
Jonas, I'm getting the same thing. Is there something you found that you missed at first? It might be the same thing I haven't found. Thanks in advance!

[2019-04-11 01:47] theochampion commented on #892
What I don't understand is where to modify the CSS to add that ?

[2019-04-11 18:54] coreybruyere opened #894 "Feature Request: Option to select last month, 6 months, year, etc."
I see there's a option to "Go to today". Is there currently a direct way to select the last year, set amount of months, days, etc?

[2019-04-11 21:48] gpbl commented on #894
You have to implement it by yourself @coreybruyere :) It should be trivial.

[2019-04-11 21:48] #894 closed

[2019-04-17 20:28] coreybruyere commented on #887
@JonasGaldikas what was the issue here?

[2019-04-18 08:14] JonasGaldikas commented on #887
well i am not importing DateUtils as in example
`import DayPicker, { DateUtils } from 'react-day-picker`

i only import
`import  DayPicker from 'react-day-picker'`

and instead of using
`from && DateUtils.isDayBefore(day, from);`

i use
`from && DayPicker.DateUtils.isDayBefore(day, from);`

I hope it helped you guys ;)

[2019-04-18 19:48] wesleydesantana opened #897 "Disabled Future date input-daypiker"
I am being applying a disable on future days in react-input-day-piker but did not succeed. Is there any way to do this in the library? Also try to apply a mask, when the user types in the field, also to no avail. Can you help me on that?

[2019-04-18 23:45] gpbl commented on #897
Hi, we can help if you help us to help. Please see https://github.com/gpbl/react-day-picker/blob/master/.github/ISSUE_TEMPLATE.md

[2019-04-18 23:45] #897 closed

[2019-04-22 19:43] chowdar opened #898 "Is there a way to show previous, current, and past months and navigate by week?"
Thanks for opening an issue! 👋

* if you are reporting a bug or you want to show a behavior you don't understand, please reproduce it forking this CodeSandbox: https://codesandbox.io/s/XDAE3x0W8
* if you need help, please ask first on Stack Overflow http://stackoverflow.com/questions/tagged/react-day-picker or join us on Gitter https://gitter.im/gpbl/react-day-picker

PLEASE DELETE THIS LINE AND T

[2019-04-24 23:54] #898 closed

[2019-04-26 15:58] eseite47 commented on #836
Was this resolved? I would love to know how to work around this as well. Thanks!

[2019-05-02 17:08] KumarAbhirup commented on #592
Same problem here. I am not using any kinda ref.
[code]

This is the error: `Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?`

Need help.

[2019-05-03 03:06] Ktchan825 opened #900 "Alternative LocaleUtils with Day.js"
Moment.js is a great and popular module, but [its size is really too larger](https://github.com/moment/moment/issues/2373).

I know we can use our own LocaleUtils, but It would be great to have an alternative localeutil from the modules. I would suggest having one using dayjs, as it got similar api to moment.js

[2019-05-03 18:57] Izaakmills opened #901 "DayPicker-NavButton becomes disabled when using dropdowns when navigating / or trying to navigate in any year before current year."
Utilizing this in a project and it appears that the DayPicker-NavButton class changes to DayPicker-NavButton-Disabled when toggling to years before the current year. How do i disable this functionality so that when i am in a year prior to the current year the Navigation buttons still work for the calendar?

![Screen Shot 2019-05-03 at 3 00 00 PM](https://user-images.githubusercontent.com/37053755/

[2019-05-06 02:20] wuqing1450 commented on #878
@kpereda can you please paste the complete codes here?

[2019-05-06 13:09] kpereda commented on #878
@wuqing1450 let me know if this helps:

`
[code]

[2019-05-06 13:37] moasl opened #902 "Question: Is posible month and year only?"
Is posible to transform day-picker in a moth-year picker changing the props.
Something like
https://github.com/nickeljew/react-month-picker#snapshots

Thanks

[2019-05-09 06:24] martinnov92 commented on #886
You could also set `key` on `react-day-picker` component and change it whenever you need and it will reset internal state of component. You can read more about it here https://reactjs.org/blog/2018/06/07/you-probably-dont-need-derived-state.html#recommendation-fully-uncontrolled-component-with-a-key

[2019-05-10 04:57] RanjithaRaja opened #903 "Can we change calendar month view to Week view?"
Hi,

Can you have any options to change the calendar month view to the Week view?

Can you please give the options. It will be very helpful.

Thanks in advance!

[2019-05-13 00:37] Nibblesh commented on #865
https://github.com/gpbl/react-day-picker/pull/904

Have changed the index.d.ts file to explicitly list exports from the other type files

[2019-05-13 11:04] PlanetIrata opened #905 "BrowserslistError: Unknown browser query `dead`"
Hi, I just upgraded react-scripts (Create React App) from 2.1.8 to 3.0.1 and when starting my app, now the compilation fails with this error:

`./node_modules/react-day-picker/lib/style.css (./node_modules/css-loader/dist/cjs.js??ref--6-oneOf-3-1!./node_modules/postcss-loader/src??postcss!./node_modules/react-day-picker/lib/style.css)
BrowserslistError: Unknown browser query 'dead'
    at Array.re

[2019-05-14 09:30] menkermatias commented on #823
Update with fork because the wrapper does not work with refs, so i add forwardRef:

https://codesandbox.io/s/9lkmj6mlvp?fontsize=14

[2019-05-16 09:01] rdsedmundo commented on #864
I actually find it pretty useful. Why is it a bad idea?

[2019-05-17 00:51] #901 closed

[2019-05-19 10:52] shivam16parashar commented on #496
i am also facing the same issue

[2019-05-20 10:21] SchauweM commented on #878
Using that will result in the form being rendered in the "DayPicker-Months" element instead of the "DayPicker-NavBar" tho.

[2019-05-21 08:36] Kaandriambelo commented on #783
Do you have an example on how to use the focus() method to keep the calendar open when moving from the input field to the calendar ?

[2019-05-21 09:49] DimitrK commented on #902
Hello, wondering the same as well.

[2019-05-22 13:29] grazinskis opened #906 "Access custom set months in captionElement"
Seems like inside captionElement there is no way to access the months that are [set with the 'months' prop on DayPicker component](https://react-day-picker.js.org/api/DayPicker#months).

I replicated the issue [here in example.js line 69](https://codesandbox.io/s/reactdaypicker-exampleselementsyearnavigation-9t3q3).

My use case is that I set my translated names manually on DayPicker, and then I w

[2019-05-29 23:19] amit-nautiyal-crs commented on #399
@yashsharma04 did you manage to fix this issue. I am stuck on same bit

[2019-05-29 23:20] amit-nautiyal-crs commented on #399
@jimniels did you manage to resolve this?

[2019-05-30 20:10] jimniels commented on #399
@amit-nautiyal-crs I'm on the latest version (7.3.0) and it's fixed there.

[2019-05-30 20:14] amit-nautiyal-crs commented on #399
Thanks, @jimniels, I will give it a try

[2019-06-03 13:26] glapsable commented on #902
me too

[2019-06-03 22:17] durasj commented on #866
Hi @gpbl, I think I know what @jordan-jarolim is trying to say. I am in a similar situation where I would like to display my custom `captionElement` only for the first calendar or handle the caption differently for each. I guess it would be enough if the DayPicker would also pass the currently rendered month index. Then I could od something like `captionElement={(props) => props.month === 0 ? <Fir

[2019-06-10 09:35] smithaitufe opened #907 "firstWeek is undefined in Mozilla FireFox"
I am having a strange error using the DayPicker component.

### Sample code

[code]
In chrome, it works fine. But in firefox, I noticed the error below

[code]
`firstWeek is undefined`

#### Version: 7.3.0

[2019-06-12 12:17] ivan-nejezchleb commented on #815
We have the same issue in our application.

In version 7.0.7 it works fine.
But in 7.2 there is no way how to reset the text. It is caused by merge of https://github.com/gpbl/react-day-picker/pull/778

I propose different solution, but I am not sure, if this doesn't break some other use case
- clear inner state 'typedValue' to undefined in componentDidUpdate, when props.value has changed (or at le

[2019-06-13 14:37] eliyahen commented on #130
For day picker input, it is possible to convert input value to date with local time as UTC time, and onDayChange convert the date back to normal.

Input: `01-01-2010 12:00:00 GMT+0100 (UTC=01-01-2010T11:00:00Z)` -> `01-01-2010 11:00:00 GMT+0100 (UTC=01-01-2010T10:00:00Z)`.

Input: `01-01-2010 12:00:00 GMT+0100 (UTC=01-01-2010T11:00:00Z)` -> `01-01-2010 13:00:00 GMT+0100 (UTC=01-01-2010T12:00:00Z)`

[2019-06-13 19:36] wongcode commented on #783
I've come up with a temporary solution until the #761 is merged:

[code]

[2019-06-17 23:49] smithaitufe commented on #803
@junmich

Please I need your input on this.

I am having the same issue. In firefox and safari, my DayPicker is not working.

[code]
Please what do you think is the fix?

[2019-06-18 00:09] smithaitufe commented on #803
I have resolved it. The issue was `new Date(moment(departureDate).format("YYYY, MM"))`.
I changed it to `new Date(moment(departureDate).format("YYYY-MM"))` and it worked

[2019-06-18 00:09] smithaitufe commented on #907
I have resolved it. The issue was `new Date(moment(departureDate).format("YYYY, MM"))`.
I changed it to `new Date(moment(departureDate).format("YYYY-MM"))` and it worked

[2019-06-18 00:09] #907 closed

[2019-06-18 18:24] smithaitufe commented on #43
@basham  How can I use separate buttons for changing months in the daypicker

[2019-06-21 17:27] basham commented on #43
@smithaitufe I'll follow up with you via email. We don't need to start an aside discussion on this GitHub issue.

[2019-06-28 23:44] MaxLeiter commented on #800
Has anyone done this? I'm struggling in having the DayPicker remain expanded (visible) after selecting the first date.

[2019-07-02 10:07] davidspiess commented on #864
Since our company relies heavily on your component, i could help out too!

[2019-07-02 14:52] dnusca opened #908 "Incorrect day selected in DayPicker with certain date formats"
First of all thanks to all contributors for such a great day picker package.

I have reproduced in the CodeSandbox linked below a bug which results in the set month of the DayPicker component being incorrectly set with certain date formats.

https://codesandbox.io/s/react-day-picker-month-bug-smg8v

The code is taken from the documentation example *Changing the date format with date-fns* found [on

[2019-07-06 03:40] j0b0sapi3n commented on #455
I'm having issues with this too, and wish there was a prop to turn off changing months when clicking outside days.

[2019-07-09 00:05] gentleShark opened #910 "parseDate: Helpers.js:112 Uncaught TypeError: Cannot read property 'length' of undefined"
I came across an application breaking error when using parseDate with DayPickerInput
 and date-fns. Typing a day that is out of range in the format MM/DD/YYYY throws the following error:
Helpers.js:112 Uncaught TypeError: Cannot read property 'length' of undefined
    at Object.getWeekArray (Helpers.js:112)
    at Month.render (Month.js:149)
    at finishClassComponent (react-dom.development.js:14

[2019-07-09 22:23] gentleShark commented on #910
possibly related, the date-fns example no longer works with the latest version of date-fns and the link to the codesandbox also does not compile: https://codesandbox.io/s/k2r6mnr07v?module=/example

[2019-07-11 19:28] darrenterhune commented on #592
@KumarAbhirup try this
[code]

[2019-07-12 10:34] dnusca commented on #910
Try format as 'M/d/yyyy' in your codesandbox example.

[2019-07-12 10:42] dnusca commented on #908
If anyone is having the same issue, the problem lies in date-fns 1.30.1 - https://github.com/date-fns/date-fns/issues/1064

You can either upgrade to date-fns v2 beta or use the parse example in the linked issue if you wish to wait for date-fns v2 stable.

[2019-07-12 10:42] #908 closed

[2019-07-12 12:10] nikitapavets commented on #748
Hi @matthewmcclatchie, `inputProps` prop was added to the documentation (see http://react-day-picker.js.org/api/DayPickerInput/#inputProps)
Works for me
[code]

[2019-07-14 00:40] gentleShark commented on #910
thanks. 'M/d/yyyy' solves the problem in the codesandbox example.

[2019-07-14 00:40] #910 closed

[2019-07-16 07:05] drbeat commented on #729
I think the docs are misleading as I needed to find this to make it work :/

[2019-07-16 07:05] drbeat commented on #729
I think the docs are misleading as I needed to find this to make it work :/

[2019-07-21 01:52] sialbul opened #912 "Wrong day number displayed with outdated date-fns"
![image](https://user-images.githubusercontent.com/46114540/61585998-e381db00-ab37-11e9-9976-92bda7384a75.png)

Hi, I just wanted to let you know that as you see in the screenshot, it shows the day wrong  in Changing the date format section (7/201/2019) .

[2019-07-22 09:33] krnlde commented on #912
Can confirm. Looks like its using date-fns' `DDD` "Day of year" formatting, despite having set `M/D/YYYY` properly.

[2019-07-23 14:28] TSilviu commented on #819
Hi there! I ran into the same issue when providing a custom input component to the `DayPickerInput` component.

@matthova Thanks for looking closer into this, I can see you tried a couple of implementations.

Are there any plans to address this issue? What about known workarounds? In my opinion, this is quite a serious problem as I can imagine a considerable amount of users will want to provide th

[2019-07-25 07:52] aitchkhan commented on #848
Well, it varies from case to case.
But IMHO, `tabIndex = 0` should be either on the day passed in `selectedDays` props or `today`.

[2019-07-25 08:06] aitchkhan opened #913 "Have a focus prop that will bring the date in focus"
This is a feature request.
We have recently been working on making our application more accessible. This feature request has an influence of the work that we are doing to make our application WCAG  2.0 AA compliant atleast.

For our specific use-case we don't show DayPicker by default. When it opens up, we want to have a focus on the selected day. That way, it will be read out by the screen reader

[2019-07-26 18:39] duff-tock commented on #798
I second this change. the first enabled day or the currently selected day should be tabIndex 0 not necessarily the first of the month.

[2019-08-01 01:25] brunodasilvalenga commented on #823
Hey, you can create a wrapper and replace the existing css, like this:

[code]

[code]

[2019-08-01 13:31] anoopgq commented on #453
Use this style for animating the react-day-picker

[code]

[2019-08-01 13:32] anoopgq commented on #87
Use this style for animating the react-day-picker

[code]

[2019-08-03 13:46] #865 closed

[2019-08-03 14:01] gpbl commented on #903
Hi @RanjithaRaja what do you mean with a week view?

[2019-08-03 14:02] gpbl commented on #902
Sorry, but this feature would go out from the goal of this component. You could easily implement a month/year view by yourself!

[2019-08-03 14:02] #902 closed

[2019-08-03 14:03] gpbl commented on #905
Sorry, I can't help you here – see https://github.com/browserslist/browserslist/issues/266, thanks!

[2019-08-03 14:03] #905 closed

[2019-08-03 14:19] gpbl commented on #900
Hey thanks for citing dayjs! We will consider it for the next major release.

[2019-08-03 14:19] #900 closed

[2019-08-03 14:22] gpbl commented on #878
FYI we are planning to remove the input element in the next major version to have a less opinionated way to bind it with any input. I'm closing the issues related to it because we won't make major changes for now.

[2019-08-03 14:22] #878 closed

[2019-08-03 14:23] gpbl commented on #880
FYI we are planning to remove the input element in the next major version to have a less opinionated way to bind it with any input. I'm closing the issues related to it because we won't make major changes to it.

[2019-08-03 14:23] #880 closed

[2019-08-03 14:24] #886 closed

[2019-08-05 05:02] danielsogl opened #915 "Broken Typings"
The release 7.3.1 has wrong TypeScript definitions.

Build errors:

[code]

[2019-08-05 06:27] deju commented on #915
@danielsogl
after remove line 10,11,12, the lib works without errors.

[2019-08-05 08:45] omcg33 commented on #915
With errors begins after 3.7.1 version. in types/index.d.ts where are wrong exports of utils.
Typescript 3.5.1

[2019-08-05 22:39] cruzlutor commented on #882
Same issue here, it would be great if we can disable/enable the key events for component navigation

[2019-08-05 23:24] matthova commented on #819
@TSilviu the custom implementation shown in the examples in #872 has been working great for us.

[2019-08-06 11:41] adam-lebon commented on #915
Since the last version `DateUtils`, `LocaleUtils` and `ModifiersUtils` are not interfaces anymore.
They should be exported like this :
[code]

[2019-08-06 14:48] gpbl commented on #915
Hey folks, I cannot follow the typescript part anymore and I'm thinking to remove types from this library. Developers here continue to submit wrong PRs about typings and since I'm not a TypeScript user I have no time to maintain this.

Please decide what is the right typings you want and make them work :)

I'm trying to fix this here:
https://github.com/gpbl/react-day-picker/pull/916

but I'm runn

[2019-08-07 14:18] KonstantinKudelko opened #917 "Add style type to DayPickerInputProps"
As PR was merged:
https://github.com/gpbl/react-day-picker/pull/832

We should add `style` type to `DayPickerInputProps`:

https://github.com/gpbl/react-day-picker/blob/master/types/props.d.ts#L153

[2019-08-07 14:32] KonstantinKudelko commented on #917
I created PR regarding this issue:

https://github.com/gpbl/react-day-picker/pull/918

[2019-08-08 14:51] PoByBolek opened #919 "UMD build is broken because of prop-types"
Commit bdc8b3cda0ca63f78c92faabb089d0ba35413705 removed the `transform-react-remove-prop-types` plugin from .babelrc which breaks the UMD build because `prop-types` is still being referenced (but undefined) in the UMD build.

CodeSandbox: https://codesandbox.io/s/ioxwx

[2019-08-08 15:06] PoByBolek commented on #919
The non-minified build seems to be broken since 7.1.1.

[2019-08-09 11:11] #912 closed

[2019-08-09 13:36] gpbl commented on #912
Thanks! Fixed!

[2019-08-13 00:23] gpbl opened #921 "Next version status – looking for contributors"
I will keep track of some insights about the next version here.

## 🚒 react-day-picker is looking for contributors

The package is being downloaded 1M+/months and I need help maintaining such big user base.

* Need help triaging issues and organizing the project on Github
* Need someone expert in Typescript that can help to maintain the typings
* Need help setting up e2e tests in multiple browsers

[2019-08-13 00:25] gpbl commented on #864
Some updates! Thanks for your patience. Moving this discussion here:

https://github.com/gpbl/react-day-picker/issues/921

[2019-08-13 00:25] #864 closed

[2019-08-13 03:02] ShyamRaj commented on #788
I'm having the same issue, Can someone take a look at this?

[2019-08-13 17:52] ahmedam55 commented on #921
Count me in 🙋‍♂️. I'm more than happy to help in such an amazing project!

[2019-08-16 10:59] darasi commented on #363
I had a bug where if you type something in input and prop value changes it does not update input value.
I fixed it like this.
`class DayInput extends DayPickerInput {
  handleInputBlur(e) {
    this.setState({ typedValue: undefined });
    this.inputBlurTimeout = setTimeout(() => {
      if (!this.overlayHasFocus) {
        this.hideDayPicker();
      }
    }, 1);
    if (this.props.inputProps.onB

[2019-08-16 15:58] jsphstls opened #922 "ARIA 1.1: aria-level is required with role="heading""
Hello and thank you for this excellent package!

I ran `axe-core` testing against a component of mine that uses this package and encountered this error:
[code]

I realize that this could a be a fault of `axe-core` instead of `react-day-picker`. The key issue is that while an element with `role="heading"` should have an implicit `aria-level` of 2, the outcome is not consistent and the attribute is

[2019-08-21 10:54] joafeldmann commented on #792
Further the overlay opens again / stays open when you focus the input, hit `esc` and then press/hold the `esc` key again

[2019-08-23 08:11] ozanmanav opened #924 "date-fns locale typescript problem"
Hi

I have a typing problem with date-fns.

I'm using parseDateForDatePicker for parsing date with format and locale with date-fns

![image](https://user-images.githubusercontent.com/19241756/63577133-69110480-c596-11e9-897d-e7416495be3e.png)

I'm when i check source code, i just seen locale is returning as a string but date-fns accepting Locale object, because of that i'm giving error like that;

[2019-08-24 09:33] AprinDev opened #925 "render react-day-picker month to shmasi(jalali)"
i need to change react-day-picker to Persian Calendar .
how can i do it?
i try to convert date by moment.js(to jalali date) but didn't work actually and used from locale but it didn't work too.
i think there is no feature to do this. is it right?
thanks

[2019-08-24 23:58] stunaz commented on #921
Instead of using directly date-fns, what about letting the user choose their prefered date library using something like https://github.com/dmtrKovalenko/date-io. This way if I am a fan of dayjs and dont want to include date-fns in my bundle, it could still be ok for me.

[2019-08-25 14:28] gpbl commented on #921
@stunaz it doesn't seem date-fns is increasing that much the bundle size and it would be an internal implementation anyway. I will open to PRs implementing a way to allow switching date library anyway. Thanks for the suggestion :)

[2019-08-28 10:05] zovcharov opened #926 "Problems with DayPicker Overlay focus and hiding"
Hi
When I am using day picker with custom input field, there is one problem.
After focusing on DayPickerOverlay, click on any place on the screen calls only onOverlayFocus handler, not onBlur
That`s why after overlay had been focused once I cant close it by click on some other area on the screen.
What can I do for solving this problem?

Thanks

[2019-09-02 06:15] tygas opened #927 "Is it way to pass included dates (oposite to disabled days) to show on calendar?"

[2019-09-04 19:55] Racheal58 commented on #924
Can you recreate your issue problem and attach a link  ??

[2019-09-05 14:40] corrot opened #930 "Date range with two inputs with custom overlay"
I'm using react-day-picker and I want to enable an overlay to add some custom components inside date range picker with two inputs.

There are both examples(range with two inputs and overlay) but combination of these two doesn't meet my expectations.

Here is a sandbox: https://codesandbox.io/s/react-day-picker-base-q7li8

Desired behavior is just like in this example, just with an overlay: http://

[2019-09-05 20:31] ntanguay commented on #811
Seems this is a duplicate of #783

[2019-09-07 02:15] reintroducing commented on #922
I came here to report the same exact issue so I'm glad I looked through the issues before doing so. I'm using the `addon-a11y` in Storybook while developing a wrapper around this component and am seeing the same thing (understandably so since it uses axe under the hood).

@gpbl I think you said you'll be using Storybook for the next release so I'd highly suggest adding that addon to help in the a1

[2019-09-07 02:55] jsphstls commented on #922
After some more reading on the `heading` role I see that it's really a substitute for `h1-6`. I don't think a heading element or role is needed here at all. The easiest fix is to remove it.

After that I wonder what should be used instead. Maybe an `aria-labelledby` relationship?

[2019-09-07 16:33] reintroducing commented on #922
I think another possible solution is similar to whats outlined here: https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/datepicker-dialog.html

Can use an aria-live attribute instead.

[2019-09-08 06:28] gitpash commented on #926
@zovcharov seems like UX issue, can suggest only workaround like this
`dayPickerProps={{
          // other props
          onBlur: () => {
            const activeElement = document.activeElement;
            const overlayContainer = document.getElementsByClassName('DayPickerInput-Overlay');

            if (overlayContainer && !overlayContainer[0].contains(activeElement)) {
              inputRe

[2019-09-08 14:14] salacoste opened #931 "Function of modifiers object. Modification of absent dates"
Hello,
I compare 2 dates in function of modifier object and apply custom CSS class on that, but packet modifiers even absent dates in current month.
See screenshoot below.

![image](https://user-images.githubusercontent.com/12632895/64489445-13a64a00-d25c-11e9-9a45-62fbdcd40ae9.png)

modifier function is like this:

`const modifiers =
    { start: from, end: to, today: new Date(),
      commentDat

[2019-09-08 14:20] salacoste commented on #930
You need to use additional wrapper component as property of InputDatePicker component and inside your wrapper you could use your custom content and casual DatePicker option.

[2019-09-09 11:41] corrot commented on #930
Can you please show me an example? I can not see anything like InputDatePicker in documentation

[2019-09-10 03:56] salmanmd786 opened #932 "Make DayPicker-Caption Year optional and fixed single week names at the top"
Can we make DayPicker-Caption Year optional? And as well I see the week names are repeated inside each month. Is there a way to create the fixed single week names at the top of the calendar and use the same for all the months? Similar to react-airbnb [http://airbnb.io/react-dates/iframe.html?id=daypickerrangecontroller--vertical-scrollable](url)

[2019-09-10 20:14] McSam27 commented on #927
Included dates like how? Would these be different than the `selectedDays` having an array of dates? Could you possibly combine the user of `modifiers` and `selectedDays` to solve what you want to accomplish?

[2019-09-12 19:29] bmeverett opened #933 "Propagate Event (e) argument to onDayChange handler"
Hi! 👋

I am doing some custom selection when the shift key is selected and would like access to the event handler to detect my key presses instead of listening to the key changes in my component.

Currently onDayChange is defined as `onDayChange(day, modifiers, dayPicker)`. I want to propose to be able to access the e (event) argument as well: `onDayChange(day, modifiers, dayPicker, e)`

Happy to

[2019-09-13 10:25] noodny opened #934 "Replace moment.js with date.js"
Hi! First of all thanks for maintaining this module, it is a huge time saver. I've however noticed in the docs that you're using moment.js, which is probably the most versatile date manipulation library out there, but at the same time is pretty heavy for a frontend use (especially bundled in a third party module) and is a mutability fueled ticking bomb. Would you consider using https://github.com/

[2019-09-17 10:03] CodeWitchBella commented on #921
:raising_hand_woman: I would like to help. Might be able to help with rollup bundling :slightly_smiling_face:

[2019-09-17 14:51] jpprodriguez commented on #16
Thank you very much! I was spending a lot of time trying to fix that issue. I also don't like setTimeout when its not needed

[2019-09-17 15:47] totaldis commented on #934
see https://github.com/gpbl/react-day-picker/issues/921#issue-479905679, specifically *Datetime library dependency*.

[2019-09-17 15:58] noodny commented on #934
👍 all clear, thanks!

[2019-09-17 15:58] #934 closed

[2019-09-18 20:00] #932 closed

[2019-09-19 01:12] incyphe commented on #783
Has anyone able to get this interim fix to work in his/her code?  working codesandbox would be awesome.

[2019-09-19 14:21] wongcode commented on #783
https://codesandbox.io/s/romantic-mendeleev-frs06?fontsize=14

Not the most reliable solution with setTimeout, but hopefully this works for you.

[2019-09-19 21:53] mirshko commented on #921
I'd be happy to help with the Storybook website!

With their latest version documenting can be done with just Storybook! No need for docusarus!

I've had good experience building four different design systems in Storybook and documenting examples well!

Let me know!

[2019-09-22 15:35] gpbl commented on #921
Hey thanks everybody for answering! Where do the cool kids meet online for organizing things? :) I'm on reactiflux @gpbl (I'll try to be online there).

Some updates: i've been experimenting with a rewrite and I've found a good architecture. I've been playing with it for a while so it is almost feature complete. I'd love to open a PR and get some reviews. Does it make sense?

I actually need help

[2019-09-22 15:37] gpbl commented on #921
@CodeWitchBella that would be so welcomed, I'll open the PR including my rolluo untested build, hop

@CodeWitchBella that would be so welcomed. I'll open a PR with my (untested) rollup bundle and call you for help 🙏🏾

[2019-09-22 15:42] gpbl commented on #921
@mirshko I am using Storybook at work and I love it. But for a OSS project I find better Docusaurus, being it between Gatsby and Storybook.

I am talking about [docusaurus v2](http://v2.docusaurus.io), which is still in alpha, hence my doubt using it. I don't understand how much support is getting the project and I have not time myself to contribute.

[2019-09-23 07:24] davidspiess commented on #921
@gpbl yes, we are using react-day-picker since the beginning extensively in our booking / enquiry widgets. ATM we have more than 1500 clients which have it running on their website. Many of them added their own stylings to the calendar, which could break for them, if the div structure / classnames change too much. Until now we had almost no problems upgrading, since every breaking change was well

[2019-09-23 10:12] artola commented on #919
The minified build is broken in v7.3.1 and v7.3.2 while works fine in v7.3.0

It is related to the need to remove the prop-types, in v7.3.0 there was a babel-plugin to do it, but it was removed later in v7.3.1

https://github.com/gpbl/react-day-picker/blob/b08661717076249f1b6c1085174bb1d92aad6b08/.babelrc#L10

@gpbl I would suggest to revert it. Is it ok for you?

https://github.com/gpbl/react-day

[2019-09-23 16:22] imenbelkhi commented on #884
When i m running my react project i have the same issue > Module not found: Can't resolve 'react-day-picker' This error occurred during the build time and cannot be dismissed.
how can i solve it?

[2019-09-24 03:31] dc198689 opened #936 "Missing Selected Day Style when using date-fns parse format day issue"
Hi, I am trying to use react-day-picker a few days,
I found a issue but not sure whether is bug or not.

When I try these two examples,

It works
[http://react-day-picker.js.org/examples/input-moment](url)

It not works
[http://react-day-picker.js.org/examples/input-date-fns](url)

Anyone can help ?
Because I will use another date converter library to parse day function

Thanks Very Much

[2019-09-24 11:29] gpbl commented on #921
@davidspiess wow that means 1500 day pickers? :D Which version of React are you using?

[2019-09-24 13:36] davidspiess commented on #921
If you are interested, here you can see one in action: [Link](https://www.dasgerstl.com/en/rooms-prices/booking.html)
Right now we are still using 16.8.x, but we will soon upgrade to the latest 16.9.x.

[2019-09-24 17:00] gpbl commented on #921
Thanks @davidspiess good you are in one of the latest React :)

[2019-09-30 21:26] alejandroMA opened #938 "DayPickerInput: input value does not update when the locale changes"
Basically when the "dayPickerProps.locale" or "format" props change
the value of the input component does not get recomputed  (call formatDate)

[2019-10-03 06:47] #936 closed

[2019-10-03 22:55] zoharsanchez commented on #938
I had something similar going on! Perhaps my solution can help you? I was trying to reset the input value to an empty string.

Parent component:
[code]
Datepicker component:
[code]
I passed the reference to my DayPickerInput, but that's not necessary. However, I'm also confused as to why the input value doesn't get updated along with everything else. My props and state are all being updated correc

[2019-10-06 23:23] apmsooner opened #940 "min date"
Thanks for opening an issue! 👋

* if you are reporting a bug or you want to show a behavior you don't understand, please reproduce it forking this CodeSandbox: https://codesandbox.io/s/XDAE3x0W8
* if you need help, please ask first on Stack Overflow http://stackoverflow.com/questions/tagged/react-day-picker or join us on Gitter https://gitter.im/gpbl/react-day-picker

PLEASE DELETE THIS LINE AND T

[2019-10-06 23:23] #940 closed

[2019-10-07 01:45] thedaruma commented on #723
I think `hideAfterDayClick` in DayPickerInput.js needs to set `this.overlayHasFocus` to `false`.

This solves the problem for me locally, but am unsure if this will have side effects elsewhere?

[2019-10-08 03:32] gpbl opened #942 "React DayPicker 8"
v8 will be a TypeScript rewrite and will introduce some major, needed changes.

* See project https://github.com/gpbl/react-day-picker/projects/7
* Temporary website: https://react-day-picker-next.netlify.app
* Latest docs: https://github.com/gpbl/react-day-picker/tree/master/website/docs

## Testing v8

Add the next version to the dependencies:

[code]

## v8 Objectives

* Rewrite the package to

[2019-10-08 03:47] gpbl commented on #921
Thanks everybody, there's a preview of the next version/website here:
http://rdp-v8.netlify.com/docs/intro

Closing this in favour of https://github.com/gpbl/react-day-picker/issues/942

If someone is still interested to contribute, there there's a big list of things to do :)

[2019-10-08 03:47] #921 closed

[2019-10-10 19:12] gpbl commented on #921
@davidspiess (or anyone interested) I could easily migrate to TypeScript. I'd really love a review:

https://github.com/gpbl/react-day-picker/pull/944 🙏🏾

[2019-10-10 19:14] gpbl commented on #921
@mirshko I'd still need help with the website (mostly code examples, text proofing etc.) maybe you are interested anyway? No Storybook,  but all MDX via docusaurus. Website project is neat has some nice tricks in it. It's actually the most time consuming part now.

@CodeWitchBella if you have some time, review #944 for my rollup implementation. I haven't tested it much yet 🔬

[2019-10-14 04:52] sweetaprospa commented on #282
in order to use SelectedDays on DayPickerInput, what version of daypicker supports this?

[2019-10-17 12:40] ryanburr commented on #921
@gpbl I can take a look at your TypeScript implementation. Glad to help any repo make the switch over to TypeScript

[2019-10-17 20:59] gpbl commented on #723
Thanks everybody for working on this!

The Input components and its interaction with focus and blur has been always problematic, and for this reason it will be replaced by a hook in the [upcoming v8](https://github.com/gpbl/react-day-picker/issues/942).

@thedaruma I can't say either if your solution has side effects, but it seems logic to me.

[2019-10-17 20:59] gpbl commented on #723
Here a preview of the `useInput` hook: https://rdp-v8.netlify.com/docs/input

[2019-10-17 21:00] #723 closed

[2019-10-17 21:04] #938 closed

[2019-10-17 22:07] #861 closed

[2019-10-17 22:16] #633 closed

[2019-10-17 22:17] gpbl commented on #516
Next version will use rollup 🧻⬆️

https://github.com/gpbl/react-day-picker/pull/944

[2019-10-17 22:17] #516 closed

[2019-10-19 00:51] gpbl commented on #483
Makes flow type still sense?

f we want still to add flow-types then yes, better in https://github.com/gpbl/react-day-picker/issues/flow-typed.

[2019-10-19 00:51] #483 closed

[2019-10-19 00:51] gpbl commented on #378
Thing has been rewritten in #942 :)

[2019-10-19 00:51] #378 closed

[2019-10-19 00:52] gpbl commented on #130
I'm closing this, since in the [upcoming release[(#942) react-day-picker will be based on date-fns, and hopefully we won't have this issue anymore.

[2019-10-19 00:52] #130 closed

[2019-10-20 08:49] developdeez opened #945 "DayPickerInput wont allow disabled days"
Not sure if this is on purpose but it seems disabled dates dont work in DayPickerInput.
Or am I missing something here:
 <DayPickerInput
            disabledDays={{ before: today }}
            locale="en"
          />

[2019-10-20 15:08] #945 closed

[2019-10-20 15:14] developdeez opened #946 "Overall filled with issues DateInput needs work"
This seems to be agood project and got me close to y goal but many of the features dont work. Not even in your own demo, the format is off: https://codesandbox.io/s/537qkxy4wn

Also seems to be no way to select a target start date in DateInput.

Is new version going to fix all of this?

[2019-10-20 16:22] gpbl commented on #946
Hi thanks for your feedback. Please read the docs to use the component, there are more examples here. http://react-day-picker.js.org/examples/basic/

[2019-10-20 16:23] #946 closed

[2019-10-20 16:23] #931 closed

[2019-10-20 16:24] developdeez commented on #946
Read the docs and thats why im here...

[2019-10-20 16:25] developdeez commented on #946
How about address the issue of not being about to give an initial date?

[2019-10-20 16:26] developdeez commented on #946
Docs dont seem to mention or have an example of that

[2019-10-21 12:54] #779 closed

[2019-10-21 22:15] MhMadHamster opened #948 "LocaleUtils in not a value, causing types to be broken"
In this pr: https://github.com/gpbl/react-day-picker/pull/873 `LocaleUtils` was changed from value to type (interface), i'm not sure if it's intended, but in the latest version v.7.4.0 types are broken, cause there are a lot of `typeof LocaleUtils` which expects value, not the type.

P.S. consider adding tests for types

[2019-10-22 08:10] bj00rn opened #949 "Website: Update example to support date-fns v2"
The `date-fns` [example](http://react-day-picker.js.org/examples/input-date-fns) is not working with `date-fns>2`

Are the docs here on github?

* Fixed code here: https://codesandbox.io/s/react-day-picker-base-tkcnu
* Instruction to install date-fns@next can be removed now since date-fns v2 is out

[2019-10-22 10:39] PiTomar commented on #948
Can confirm, same issue here.

[2019-10-22 12:58] madebyew commented on #948
This is an issue for me, too.

[2019-10-22 13:32] gpbl commented on #949
Yes @bj00rn is in the `v7` branch – sorry we are undergoing a major review of the repo during these weeks. I'll see if I can remove these instructions, thanks for the heads up!

[2019-10-22 13:52] gpbl commented on #948
Sorry for the bugged release, people, but I need help maintaining v7 as I'm busy working with the next major version. Please branch off `v7` branch to send a PR, thanks 🙏🏾
I'll see if I can work on this today.

[2019-10-22 15:01] bj00rn commented on #949
@gpbl here's a PR for ya!

[2019-10-22 20:31] gpbl commented on #949
you awesome! thanks!

[2019-10-22 20:31] #949 closed

[2019-10-22 20:42] shelver2004 commented on #942
hello @gpbl i need some help with captionElement for 2 calendars for date range, how can i have changeable month and year dropboxes? do you have an example for date range date picker?

[2019-10-22 22:14] shelver2004 opened #951 "example of using hooks for a range date picker"
Thanks for your great library and good community support. can we get a sample of using hooks for a date picker with a range modifier? thanks

[2019-10-23 12:26] gpbl commented on #933
Hi @bmeverett thanks for you feedback! Next version (v8) will allow you to do that. The problem in the current architecture is that the event handler is dispatched from two different points: when clicking a day, or when typing in the input, so the event wouldn't be the same.

I don't know if you can hack it adding a `onChange` to your input, tho. Try it :)

[2019-10-23 12:26] #933 closed

[2019-10-23 12:27] gpbl commented on #951
Hey thanks for the feedback. We will add an example in the documentation of the next version.

[2019-10-23 12:27] #951 closed

[2019-10-25 07:56] KyorCode commented on #942
Will there be a `useInput` hook Ranges?

[2019-10-25 20:31] trevordmiller commented on #682
Going to close this for now as it seems this isn't a heavily requested feature. Bigger fish to fry :)

[2019-10-25 20:31] #682 closed

[2019-10-28 13:27] gpbl commented on #942
@KyorCode please give a look:

https://rdp-v8.netlify.com/docs/input

For sure, `useInput` can be extended to support ranges. What is your use case?

[2019-10-29 06:29] KyorCode commented on #942
@gpbl My use case went out of the window after some talking to the design team. They wanted to have a single input field for a date-range-picker which in practice disables the user from input unless we use a mask or some sort. So we split up the range into two separate inputfields and problem solved :)

@milesj We too did pick this library over others because it had no dependency on any date/time

[2019-10-29 07:51] shelver2004 commented on #942
@kryops @gpbl hi guys I'm just about to use react-daypicker for our application..just saw @kryops comment about being sad to see them go..what do you mean? Is this library still available?

[2019-10-29 08:15] KyorCode commented on #942
The library is going through an overhaul and one of the changes is that it is going to have a dependency on `date-fns` as a date/time utility library. The v7 version (and previous versions) had the possibility to use your own choice of date/time utility library ( globalize, Luxon, moment-js, ... ). Seeing that option go is making me sad, I'm actually happy to see all the other changes though and r

[2019-10-29 12:07] alexbusuioc opened #952 "Disabling "Sunday" when firstDayOfWeek is Monday"
This is very simple to reproduce. Just set the DayPicker to start with Monday as firstDayOfWeek,
and try disabling "Sunday" (index 7)

<DayPicker
    firstDayOfWeek={1}
    disabledDays={[ { before: new Date()} , { daysOfWeek: [6,7]} ]}
 />

In the example above, only "Saturday" will be disabled

[2019-10-29 12:17] alexbusuioc commented on #952
oh, silly me. Sunday has the index of "0", not "7"

[2019-10-29 13:39] gpbl commented on #942
At the time I wrote the component, there was no date-fns, and moment was the only option. Since I did not want to lock people using it, I decided to write my own date utilities – and i tell you it has been a nightmare and a waste of time.

Now we can include date-fns in the package without the issues we had with moment, and rely on the amazing solid work of other people.

* If your concern is addi

[2019-10-29 17:05] milesj commented on #942
@gpbl A few things.

1) What were the pain points in managing the dates yourself? I'd possibly be open to hardening the API. Another option would be to completely avoid any date logic, and require consumers to implement the API on their end using props, while the picker uses the result (a `Date` object) for display only.

2) When we were researching available datetime libraries, we went with Luxon

[2019-10-29 17:45] milesj commented on #942
Yeah possibly. Do you have a list of all the datetime methods that would be necessary?

[2019-10-29 18:17] gpbl commented on #942
Not many methods, but few of them are tricky (like the number of the week according to locales).

https://github.com/gpbl/react-day-picker/search?l=TypeScript&q=date-fns

but really what is the difference including own-written utilities, or those from another package? What are the main concerns?

[2019-10-29 18:35] stunaz commented on #942
People don't want 2 date/lib in their bunlde.

[2019-10-29 18:37] gpbl commented on #942
So, if not a peer dependency, then an internal dependency would make everybody happy?

[2019-10-29 18:54] milesj commented on #942
No, because it would still end up in the bundle.

[2019-10-29 19:09] milesj commented on #942
That proposal is fine, assuming it's not using `date-fns`. The problem arises when `date-fns` and `luxon` (or `moment`) are used in parallel, as the bundle size will include both, when we ideally only want 1.

I think there was just a misunderstanding of the separate package nomenclature. Basically there are 3 proposals being discussed here.

1) Keep it like v7 where all date logic is handled manu

[2019-10-29 19:39] stunaz commented on #942
vote 3 - react-day-picker-dayjs

[2019-10-29 21:40] tnyuan commented on #942
We are also using `react-day-picker` with `luxon`, and would prefer not to have `date-fns` dependency as default. Option 2 is good enough, option 3 can come later if needed.

[2019-10-29 21:55] stunaz commented on #942
IMHO option 2 will generate a lot of issue.

[2019-10-29 22:41] gpbl commented on #942
Thanks everyone for the feedback. I will find a way out...

[2019-10-30 07:19] KyorCode commented on #942
The `react-day-picker-utils` could actually be a sort of plug & play package, you just pass the exported object from that package as a prop to your RDP or you implement it yourself. Doesn't have to be a dependency.

Within RDP you'll only have to check whether the required date/time function is present. In other words kind of enforce people too provide the utilities either by using your package or

[2019-10-30 19:04] porfirioribeiro commented on #942
I think using date-fns vs using own functions is better
Because if you use own functions they will still end in bundle and if we use date-fns on our code we will have duplicated code.
Also date-fns is three shakeable  so only the used functions will end up in bundle.
Using date-fns or own functions will probably give the same bundle size

The other option is keep all functions as props, even tho y

[2019-10-31 03:27] gpbl commented on #942
This is my point as well.

However the functions from date-fns seem to increase the bundle to 15KB and it is a bit too much. I need to investigate, maybe is the rollup config, or the locale bundle.

I understand the selling point of RDP being library agnostic, but:

- it made sense when the alternative was moment.js and its locales. Now date-fns is a game changer and the bundle size is still small

[2019-10-31 05:41] shelver2004 commented on #942
@gpbl My apologies if this question doesn't belong to this subject. Is there Any example to highlight the 'from'  nd 'to' days when user pass those values in props?

[2019-10-31 09:41] porfirioribeiro commented on #942
@gpbl Try to change imports to direct imports, i also had problems with esm imports

[code]
to:
[code]

That way it will only import that function

[2019-10-31 12:10] gpbl commented on #942
@porfirioribeiro thanks! I think importing that way will help also to use a webpack resolver.

I've made some analysis, right now it actually works great. We'd just add 2KB compared to the previous version:

[code]

Also useful is seeing the download count date-fns vs luxon vs moment vs days:

https://npm-stat.com/charts.html?package=luxon&package=date-fns&package=moment&package=dayjs&from=2018-10

[2019-10-31 13:54] porfirioribeiro commented on #942
Great! I'm glad to help!

I'm waiting for this release to implement in my application in development now.
It still only has a [date input manager](https://github.com/porfirioribeiro/date-input-manager)

If there is anything else i can help

[2019-10-31 21:09] redaxmedia commented on #942
Is there a roadmap for Alpha and Beta released on NPM?

[2019-10-31 22:19] gpbl commented on #942
eheh i'm constantly coming back and forth ... thanks for your feedback. I think it makes more sense. Also the typing in a single flie mmm ... open to suggestions.

[2019-11-01 00:39] redaxmedia commented on #942
Just take a look into a Angular project and you figure out some best practices. TypeScript and React go well together - this project looks very promising to me. Keep on improving 👌🏻

[2019-11-01 19:13] mzlock opened #953 "A11y - NVDA not reading dates"
Sorry this is a bit second-hand, but I tried to get as much information as I could before submitting an Issue. This issue was flagged by a client testing with a Windows set-up -- they've confirmed that it's also happening on the sandboxed date-picker.

I'll need to get a VM working in order to test myself and provide more details....

Set-up:
- OS: Windows 7 Professional
- Browser: Firefox (69.0.3

[2019-11-04 09:06] zvertovsek commented on #948
Any updates on the fix?

[2019-11-04 22:43] adidahiya commented on #915
this should be fixed in v7.2.0 by #929

[2019-11-05 07:48] #915 closed

[2019-11-05 08:08] tpetrina commented on #948
Downgrade to 7.3.2 and it should work.

[2019-11-05 10:26] ZWkang commented on #942
may i help you write some test cases ? Version 8 is a breaking change?

[2019-11-05 10:47] Bereware commented on #804
This would be a temporary solution.
This error is the one that shows when you try to modify the state:
 _**Warning: A component is changing a controlled input of type undefined to be uncontrolled**_

I have solved it this way, it is not recommended to use refs but ... xD
[code]
I hope help you

[2019-11-11 17:32] #817 closed

[2019-11-12 10:55] KyorCode commented on #942
Would be very interested to know this :)

[2019-11-13 12:24] jatintiwari commented on #496
@shivam16parashar any luck, facing same issue

[2019-11-13 17:05] anoopmd commented on #825
@peshoicov They are firing when the page loads since you are executing them.
It should be
`onClick={() => console.log('CLICK')}`
instead of
`onClick={console.log('CLICK')}`

[2019-11-13 17:09] anoopmd commented on #825
If someone is facing the same issue, you can achieve it by doing this.
[code]

@gpbl , You may close this issue.

[2019-11-15 04:57] TakanoriMizuta opened #955 "The value of the input field can not clear"
**Describe the bug**
Once set the date into input field,
input field value can NOT clear even when value prop set to "".

**To Reproduce**
https://codesandbox.io/s/7m6q1y8xmj (This sample is NOT mine, thanks gpbl!)

1. Select some date
1. Click 'Reset' button

**Expected behavior**
After clicking Reset button ,Input field makes clear.

**Screenshots**

* Ver 7.4.0
![daypicker740](https://user-imag

[2019-11-15 18:47] kuehlein commented on #942
Is there a certain commit / branch that we could use to link to as a dependency? I have a demo coming up pretty soon and I'd like to be able to utilize some of the fixes in v8 prior to the demo.

[2019-11-20 07:40] mnouraei commented on #925
Please add Persian date (jalali) to this component.

[2019-11-20 14:15] ifier commented on #92
[code]

I

[2019-11-21 08:39] ifier opened #956 "Ability to pass more data to the "renderDay" method or how to add tooltips?"
**Is your feature request related to a problem? Please describe.**
Hi. **Great library**, love it.
What I want to implement - **tooltips over holidays or vacations.**

I've made full year calendar and I want mark all holidays on it. I can make it with modifiers - that's great. Then I need, somehow, to add tooltips to holidays/vacations - when hovering a day, there would be small tooltip with name

[2019-11-21 12:57] olegKusov opened #957 "Is it way to push ref to input component?"
I'm using React Hook Form, there i need to push ref to my input component. Is it way to handle this ref in DayPickerInput component prop?
![image](https://user-images.githubusercontent.com/28058268/69339944-7dd56500-0c77-11ea-93fd-a69944a1773e.png)

[2019-11-24 11:26] bengry opened #959 "aria properties on `<Day />` component don't work when using custom CSS classes"
**Describe the bug**
When using custom CSS classes, the `aria-selected` and `aria-disabled` on the `<Day />` component don't work.
This is because of [these lines](https://github.com/gpbl/react-day-picker/blob/d6d0f7702908ca2657fa88d9d639dabcc6ff89db/src/Month.js#L110) - which look for a specific key name, which doesn't exist when using custom CSS classes (e.g. with CSS Modules the class names are

[2019-11-25 16:02] KyorCode commented on #942
@kuehlein Master is V8 at the moment. If you install it throug a git reference and update the package.json a bit. You can get it to work.

We currently use the following in our package.json:
`"react-day-picker": "gpbl/react-day-picker#master"`

and run the following script to fix the package.json reference.
`const path = require("path");
const fs = require("fs");

const reactDayPicker_Path = "./no

[2019-11-26 12:03] Priyanga-Mohan opened #960 "Month and year only selection"
Is ther any way we can restrict the selection to only month and year, eliminating date selection in react-day-picker ?

[2019-11-27 15:19] florianchevallier opened #961 "DayPickerInput doesn't close after changing month when using a custom component"
**Describe the bug**
When using a DayPickerInput, if you use a custom component like this

[code]

If you change the month and click outside the overlay, the overlay won't close if you click outside the overlay and stay opened

**To Reproduce**
Add a custom component as [the example in the doc](http://react-day-picker.js.org/api/DayPickerInput#component)

https://codesandbox.io/s/react-day-picker-

[2019-12-01 17:18] t-zander opened #962 "Unable to style day cell"
**Describe the bug**
I am unable to style date cell, in any way. I've used `modifiersStyles`.
I need it because for some reason I have white color of days and white background on hover.
As far I got it, I can use any of [these](https://react-day-picker.js.org/api/DayPicker#modifiersStyles)

Here is the code:
[code]

**To Reproduce**
https://codesandbox.io/s/react-day-picker-base-8b440

**Expected

[2019-12-04 10:25] gabcamba opened #963 "Render errors on DayPickerInput field if user did not input anything on field"
Is it possible to render the DayPickerInput field red and throw an error message when form is submitted and theres no value on the input?

[2019-12-05 02:19] ArcadeRenegade commented on #922
+1
I am getting an error in Lighthouse about this.

[2019-12-11 01:54] kybradeck commented on #942
Just wanted to pipe in and say I fully support the decision to use date-fns as a dependency given its small size and the issues you flagged above! Thank you so much @gpbl for all of the time and effort you have put into (and continue to put into) this library! I'm using it for my 2nd project and it is a joy to work with, unlike basically every other date picker out there. **Thank you.**

[2019-12-11 01:56] kybradeck commented on #942
In addition, for those of us without the time or expertise to contribute to the code but who would like to thank you with a few bucks for a coffee or a beer, do you have a Venmo or Paypal we can send dollar bills to? 💵

[2019-12-11 11:03] denkristoffer commented on #942
date-fns has had a few critical but very hard to debug issues with e.g. timezones ([such as this one](https://github.com/date-fns/date-fns/issues/1510)) and while it isn't really fair, it has made me lose some trust in it. I've moved my own projects to dayjs instead and would be cautious before requiring date-fns.

[2019-12-11 11:24] Dremuchev opened #966 "Lack of style property in the DayPickerInputProps interface"
**Describe the bug**
In the DayPickerInputProps interface, style property has been missed, although it was provided to the component earlier. Typescript throw error.
Someone tried to add in the pull https://github.com/gpbl/react-day-picker/pull/918

**To Reproduce**
Clone [this CodeSandbox]
https://codesandbox.io/s/react-typescript-v4kd8?fontsize=14&hidenavigation=1&theme=dark
to reproduce the bug

[2019-12-16 23:45] Eric24 commented on #942
Love the library! Why don't you add a Github Sponsor option? I'd be happy to contribute, and I suspect many others would, too.

[2019-12-17 15:10] Codefeak opened #969 "Highlighted modifier doesn' t select correct month"
**Describe the bug**
selecting month is not working properly

**To Reproduce**
check Matching days with modifiers in https://react-day-picker.js.org/docs/matching-days

**Expected behavior**
Month should be 1-12 which is Jan to Dec. It shouldn't show 1 as Feb and 11 as Dec and 15 as March and so on.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user

[2019-12-17 19:36] Lomkex1 opened #970 "Weird bug on iOS Safari - Date range with caption element"
When implementing date range with caption element, on iOS (13) Safari browser - the start day selection is working correctly, but when trying to select end date,  only onDayMouseEnter event is being registered and required second tap on the same element to count as a click, the issue is only present if there is at least one input family element (input, select, textfield, button) in the caption ele

[2019-12-19 00:15] Y-Less opened #971 ""too much recursion" viewing examples."
**Describe the bug**
I click a few of the examples, such as this: http://react-day-picker.js.org/examples/elements-year-navigation then the whole page crashes and I get the below in the console.

**To Reproduce**
N/A

**Expected behavior**
Not crash the website.

**Screenshots**
![image](https://user-images.githubusercontent.com/991078/71133950-c04d7b80-21fc-11ea-82d8-577b0b2da8db.png)

**Addition

[2019-12-23 13:30] harshilsharma63 commented on #867
Is there a solution yet for this? Basically - specifying what timezone the plugin should work on.

[2019-12-27 18:33] bjfresh opened #972 "Previous date being set to aria-selected="true" & class="DayPicker-Day--selected" in Safari"
**Describe the bug**
In Safari (13.0.03, for me), clicking a date sets aria-selected and class attributes for the preceding day, rather than the date clicked. This happens despite the correct date having appropriate hover + focus styles on click, and the correct date is verifiably selected when attaching console output to the onDayClick event.

I should note that doesn't appear to happen with 100%

[2019-12-28 12:42] greenkeeper[bot] opened #973 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-12-29 21:44] #973 closed

[2019-12-30 18:48] lucyc426 opened #974 "React-Day-Picker- Disabling dates and selecting one day from range of dates"
I have a 2-month calendar where I would like the user to be able to select a date from a range of 8 weeks, but only starting from 3 weeks after the current date. For example, if the current date is Monday December 23, 2019, the first open date that the user can select from is Jan. 13 through March 2nd (8 weeks). So the dates Dec 24-Jan 12 should be disabled, and the open range should be Jan 13-Mar

[2019-12-31 06:46] andrew4kariuki opened #975 "Caption.js:10 Uncaught TypeError: f.default.instanceOf is not a function at Object.<anonymous> (Caption.js:10)"
Caption.js:10 Uncaught TypeError: f.default.instanceOf is not a function
    at Object.<anonymous> (Caption.js:10)

[2020-01-03 06:51] Kamilius commented on #926
Having same issue.
Downside of this workaround is an error inside console:
![Screen Shot 2020-01-03 at 8 50 54 AM](https://user-images.githubusercontent.com/3115794/71710699-40333280-2e06-11ea-9680-baa4b1fbea0b.png)

[2020-01-06 02:00] seowalex commented on #955
For anyone else interested, the bug seems to have been introduced in commit 81ac11675d6db9a21a42dde55cda5751eb483ba0, when `value={this.state.typedValue || this.state.value}` was changed to `value={this.state.value || this.state.typedValue}`. Reverting this change seems to have solved the problem for me.

[2020-01-06 10:53] zovcharov commented on #926
The problem can also be if you have more than one DatePicker on the page. To avoid this issue you can try to create custom ref for each one of the DatePicker instance.

And also you can try something like this.
Create handler for blur event of your DatePickers.
`const handlerOnBlur = function() {
        setTimeout(() => {
            const elClicked = document.activeElement;
            const con

[2020-01-06 10:57] #926 closed

[2020-01-07 20:31] #974 closed

[2020-01-08 15:53] jsphstls commented on #922
I was looking into a fix for this but I an unable to find a place to make a change:
https://github.com/gpbl/react-day-picker/search?q=heading&unscoped_q=heading

Perhaps this was already fixed?

[2020-01-09 11:05] KyorCode commented on #956
You could use the isDayInRange  on the DateUtils (http://react-day-picker.js.org/api/DateUtils) to check if the current day is within range of the current modifier.

[2020-01-13 08:06] Kamilius commented on #600
Just got a problem with same thing.

@gpbl the main issue here, is that when I'm using DayPicker already reproduced in sandbox above:
- by clicking `Previous month` button in DayPicker's header, it calls `onBlur` for whole `DayPicker` component. (Intended behavior? How's that?) That means, if I somehow need to know if DayPicker itself triggered `onBlur`, it's non-reliable, as it'll call blur not o

[2020-01-13 08:18] Kamilius commented on #926
@zovcharov already using similar solution, but there is an issue with relying on `onBlur` callback. It is being triggered even when clicking first a `nextMonth` and then - `prevMonth` buttons or vise versa. Which causes this dropdown to close each time you're trying to return to previously shown month... :(

[2020-01-14 22:55] CristianCucunuba commented on #768
Actually it does the opposite

[2020-01-15 20:54] jay-airtable commented on #783
I don't think it should be a tab interaction, since that should focus the next input in a form, instead down arrow is the preferred way.

[2020-01-15 20:56] etorreswitbooking opened #976 "Mouse event opposite to MouseLeave"
I need a mouse event opposite to onDayMouseLeave, do you know what event I can use? I need to know which day is with hover.

[2020-01-15 21:36] #976 closed

[2020-01-15 21:37] etorreswitbooking commented on #976
There are a mouse event called MouseEnter for this issue

[2020-01-15 22:35] emroussel commented on #882
@gpbl I would also like to be able to overwrite/disable this and would be willing to implement it. What do you think about of a `disableKeyUpDown` (or similar) prop to the `DayPicker` component?

[2020-01-16 20:17] nickavignone opened #977 "Cannot Clear Dates on DayPickerInput in latest version (7.4.0^)"
Trying to set dates to undefined to clear, causes the below error
`A component is changing a controlled input of type undefined to be uncontrolled. Input elements should not switch from controlled to uncontrolled (or vice versa). Decide between using a controlled or uncontrolled input element for the lifetime of the component.`

[code]

[2020-01-17 13:10] serban-condrea commented on #804
In order to avoid refs, I used another little hack 😅

[code]

[2020-01-21 09:04] KyorCode commented on #969
Hi, this isn't really a bug. It is just the way Dates work in javascript.

Months are zero based.

For more information: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getMonth

[2020-01-21 09:05] KyorCode commented on #975
A bit more information would be required to actually be able to help you here.

[2020-01-21 12:18] gpbl commented on #942
Thanks everybody for the nice responses! Some updates:

- Now source looks much better, I studied a bit more TypeScript and applied new knowledge to master ✨
- I bet `date-fns` will sort out timezone issues: https://date-fns.org/v2.8.1/docs/Time-Zones
  - if it does not, better start contributing to the project, which is very cool
  - daypicker is bugged in a similar way anyway – there are some ti

[2020-01-22 08:51] KyorCode commented on #975
Could it be you have no reference towards the prop-types library? I assume you are using a < V8 version.

[2020-01-22 08:57] KyorCode commented on #962
I don't think 'day' is a default modifier, therefor not being able to be styled this way.

However you can use renderDay to use your own component, which you can style anyway you want.
https://react-day-picker.js.org/api/DayPicker#renderDay

[2020-01-22 20:28] denisborovikov commented on #942
@gpbl Have you seen [date-io](https://github.com/dmtrKovalenko/date-io), abstraction over common javascript date management libraries?

[2020-01-23 09:55] Manne010 commented on #768
@CristianCucunuba have u find solution?

[2020-01-23 14:34] CristianCucunuba commented on #768
Yes, i found the solution luckylt in another issue

`
// Disable the day on the calendar if it's not available in the affilate schedule
  const isDisabledDay = (day) => daysAvailable.find((availableDate) =>
    moment(day).format("YYYY-MM-DD") === moment(availableDate).format("YYYY-MM-DD")) === undefined;
`

[2020-01-23 21:57] gpbl commented on #942
@denisborovikov looks promising! thanks for finding it out !

[2020-01-23 22:33] bengry commented on #942
@gpbl seems like the core library itself + the adapters make it not very slim. It would probably be better to depend on something like `date-fns`, which is modular by nature, and this project would only be using a handful of functions from there, which will probably be smaller then the date-io core + adapter package. I'm also leaving aside the addition library that the app may use  (moment/date-fn

[2020-01-24 17:47] denisborovikov commented on #942
@bengry I think we should check the real numbers before making a decision. date-io/core is only 100 LOC, any adapter is around 300 LOC. date-fns is 79.3kB minimized, but of course, it depends on how many functions react-day-picker uses.

[2020-01-24 19:35] bengry commented on #942
@denisborovikov bundlephobia [wasn't able to analyze @date-io/core](https://bundlephobia.com/result?p=@date-io/core). Looking at the code it seems like it doesn't have any runtime by itself and only includes `interface`s that the actual implementations (e.g. `@date-io/date-fns`) use. However, when including the adapter for the chosen library, you get an overhead of at least 1.2kB (gzipped and mini

[2020-01-24 20:22] denisborovikov commented on #942
@bengry Not sure I understand your point. react-day-picker doesn't have to include any date libraries. Here's an [example](https://github.com/mui-org/material-ui-pickers) of the library, that already uses it. You have to pass an adapter instance through the context.

If your project already uses moment.js, it's your project's problem if it's tree-shakeable or not, and you probably already resolved

[2020-01-24 21:18] bengry commented on #942
@denisborovikov if a project uses moment.js then they add 4.1kB to their minified bundle (before gzip). That's the easier case though. If a project uses date-fns, they add 5.9kB to their minified bundle, plus functions that neither them nor react-day-picker may need. For example, since date-io has a [`getDiff` method](https://github.com/dmtrKovalenko/date-io/blob/master/packages/core/IUtils.d.ts#L

[2020-01-26 17:31] gpbl commented on #942
@Bangry thanks for your time ! Appreciate the comment. I don’t want to spam the subscribers here - i’ll open the issue . There are many ways to keep the package size small - is my design constraint - but I won’t write any date utility anymore- it’s ton of demotivating work :)

There’re stil design decision to take - eg i want to remove the idea of “modifiers” - this is a old heritage of the CSS BO

[2020-01-26 20:41] bengry commented on #942
@gpbl Please do edit your comment with a link to the issue once opened, I'll be happy to continue the discussion there. I also agree maintaining the date utilities part of this library is tedious, and also very error-prone. Dates are nothing to take for granted, especially on the web, and libraries like moment or date-fns are popular for a good reason.

Regarding the other things you raised, like

[2020-01-27 13:57] gpbl opened #980 "Date library dependency in v8"
DayPicker relies on some date manipulation functions to work. Until v8 I've been maintaining a custom set of utilities to keep the bundle size small.

I underestimated the difficulties working with dates and other abstractions required to support localization, so I decided to switch to `date-fns`.

This choice is raising some valid concerns in the community, which I would like to collect here.

Re

[2020-01-27 14:06] gpbl commented on #942
Thanks @bengry, I'm setting up a project here: https://github.com/gpbl/react-day-picker/projects/7, issue about date-library is here: https://github.com/gpbl/react-day-picker/issues/980

[2020-01-27 14:18] gpbl commented on #969
Thank @Codefeak and @KyorCode I think I can close this.

[2020-01-27 14:18] #969 closed

[2020-01-27 14:21] gpbl commented on #963
Hi @gabcamba is it possible, please see https://react-day-picker.js.org/support for getting help if you need!

[2020-01-27 14:21] #963 closed

[2020-01-27 14:54] ShyamRaj opened #981 "unpkg usage throwing react type is invalid error"
**Describe the bug**
When I try to use react-day-picker I get the follow errors in my console
[code]

**To Reproduce**
I can reproduce the error in the sandbox here -https://codesandbox.io/s/react-day-picker-base-vt99v

**Expected behavior**
Should be able to use the react-day-picker normally

[2020-01-27 14:59] KyorCode commented on #981
`window.DayPicker`  is actually `undefined`. Hence you getting that error.

May I suggest to use import to get the DayPicker.

[2020-01-27 15:10] ShyamRaj commented on #981
I have been using the import method until last week, My original issue started when I started to bundle ```react-day-picker``` as es6 module,
So little background, I have a custom component library and recently switched to use rollup instead of webpack to bundle es6 modules so it can be tree shaken on the projects its being not used.

When I run the project using the component library which uses `

[2020-01-27 15:23] KyorCode commented on #981
I'm currently using it in a rollup based component library. Is it possible to share those errors?

On the other hand, it does indeed seem that react-day-picker isn't exported correctly on the window when using it as and esm package.

[2020-01-27 15:35] ShyamRaj commented on #981
This is the error I get
[code]
In the render function I have a used DayPickerInput using the wrapper component from my component library. which imports ```import DayPickerInput from 'react-day-picker/DayPickerInput';```

Here is the render function of the library wrapper component
[code]

In my component library rollup config, I have these plugins and commonjs with namedExports
[code]

Do I have t

[2020-01-27 15:44] bengry commented on #980
@gpbl do you know what functions v8 will need? I mean the logical operators it needs (e.g. adding N days to a given day). This list can then be mapped to library functions (e.g. `addDays` in the aforementioned example for `date-fns` or `moment(date).add(N, 'days')` for `moment`), then we can see how much of a bundle size increase we're getting from `date-fns` (or any other tree-shakeable library),

[2020-01-27 15:44] ShyamRaj commented on #981
I just tried to use just a simple DayPicker example from http://react-day-picker.js.org/docs/getting-started like this ``` import DayPicker from 'react-day-picker';``` inside the component library and used the wrapper component in the project and I'm still getting the same error as before.

[2020-01-27 16:47] gpbl commented on #980
I think the main issue here are location-based calculations (eg first day of the week). I’d go with date fns and study the problem with a lower priority. There are many options out there! I really want to push date-fns, it is good for the ecosystem.

Different approaches can be tried after the release. But i’d better discuss real use cases like yours first...

[2020-01-27 17:00] bengry commented on #980
What do you mean by "real use cases" in this context?

I also think `date-fns` is a safe and good choice, especially since it uses native `Date`s. The only concern is that if you drop it later then it'll be a breaking change. Not too big probably, but one nonetheless.

[2020-01-28 07:51] paulrostorp commented on #981
Getting this error as well when trying to import `DayPickerInput`:
[code]
[code]

Using rollup (with typescript & commonjs plugin)...

[2020-01-28 08:22] KyorCode commented on #981
could you add which version you are using?
https://codesandbox.io/s/react-day-picker-base-pwtp2

I tried with 7.4.0 and it seems to be working.

My commonjs looks like this:
`commonjs({
   include: 'node_modules/**'
}),`

No named exports.

Also using the import statement in your example, it just works:
https://codesandbox.io/s/react-day-picker-base-7sxpk

There is still a problem with the esm pac

[2020-01-28 08:45] paulrostorp commented on #981
@KyorCode using v7.4.0 as well.
Also the code sandbox you sent doesn't work...

[2020-01-28 14:36] ShyamRaj commented on #981
@KyorCode Both the sandbox code has issues and does not work.

Also tried using your commonjs configuration, I get the below error,
[code]
So after little digging removed ```import { formatDate, parseDate } from 'react-day-picker/moment';``` and copy pasted a sample example code from the site http://react-day-picker.js.org/docs/input. This time the build was successful but I get the same error whi

[2020-01-29 02:01] ccorcos opened #983 "Selecting a date in year 0-99AD returns 19XX year."
**Describe the bug**
It's impossible to specify a date in the first century.

**To Reproduce**
Just try it: [CodeSandbox](https://codesandbox.io/s/XDAE3x0W8)

[2020-01-29 05:23] justinbhopper commented on #919
@gpbl Please consider reverting the commit, as suggested above.  I can confirm only v7.3.0 works without error.  The published unpkg versions since then are completely unusable, which is pretty major as new releases go out.

[2020-01-29 08:28] KyorCode commented on #983
This is actually due to javascript date behavior. Try it in your console `new Date(95, 1, 1)`  and the year will be 1995, as you stated.

I think the easiest way to overcome is, is to use the parseDate method to correctly parse these dates.
https://react-day-picker.js.org/api/DayPickerInput#parseDate

That in combination for example with date-fns/setYear:
`const setYear = require('date-fns/setYear

[2020-01-29 22:24] ldco2016 opened #984 "Getting the wrong day of transaction"
**Describe the bug**
When a user purchases a ticket for an event on 01/29, the transaction history shows the date of purchase as being 01/28.

**To Reproduce**
Clone [this CodeSandbox](https://codesandbox.io/s/XDAE3x0W8) to reproduce the bug.

**Expected behavior**
I expect that the transaction date should be whatever day the ticket was purchased.

**Screenshots**
If applicable, add screenshots to

[2020-01-30 14:11] KyorCode commented on #981
https://github.com/gpbl/react-day-picker/issues/919

[2020-01-30 14:36] ShyamRaj commented on #981
@KyorCode  I think its similar but different in many ways, I tried v7.3.0 and i still have the same issue.

[2020-01-30 14:47] KyorCode commented on #981
@ShyamRaj could you post your wrapped component? I starting to think the problem occurs there instead of the library.

[2020-01-30 14:49] KyorCode commented on #960
I think this components is a bit overkill to just select a month and a year.

[2020-01-30 16:22] n-romaniv commented on #948
Thanks for the great library, guys! @gpbl, any updates?

[2020-01-31 13:19] jnachtigall opened #985 "Website: CodeSandbox links not working anymore"
Go to http://react-day-picker.js.org/examples/basic/ and try clicking (normal mouse, middle mouse) on the `CodeSandbox` button. (btw, why `button` and not a normal link?!). **Nothing happens**

**Expected behavior**
Opens Code Sandbox example in new tab.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![grafik](https://user-images.githubusercontent.com/3307404/7354212

[2020-01-31 13:32] jnachtigall opened #986 "Wrong/confusing `focus the "to" input field` comment in example"
I am new to react-day-picker, sorry, if this is the wrong place to report. Could not find any other place.

On http://react-day-picker.js.org/examples/input-from-to there is:
[code]
The `and focus the "to" input field` comment imho makes no sense here. There's no focus being set here.

The next function does something like setting the `from`'s month (but still not focus):
[code]

This confused me.

[2020-02-03 21:50] velohomme opened #987 "Re-render caption when month prop is updated"
After rendering the DayPicker with months prop = ["January", "February" "March".....]. The title above shows the correct text for the current month. However, if I update update the months prop with a new array (a different language) the title continues to use the old text.

The weekdaysShort prop does not behave this way.  The week names change as expected.

If I use the arrows to navigate months

[2020-02-04 07:48] ccorcos commented on #983
Is that something I need to do on my end or is that internal to the library?

[2020-02-04 11:21] KyorCode commented on #983
On your end. But I do agree it should be handle by the date library the component uses.

[2020-02-04 20:48] dmtrKovalenko commented on #980
Interestingly, I am the author of date-io.
Just today we discussed with some other libraries authors about splitting date-io into tree-shakable functions for calculations and a class for formatting and everything that is related to the localization, like days of weeks month and so on.

[2020-02-05 06:57] bengry commented on #980
@dmtrKovalenko in the case where `date-io` is tree-shakeable, it would make more sense to use it in this project, but you're still left with the issue of an additional dependency "for nothing" (in the case eyes of the library itself). Also, I'd like to mention that `react-date-picker` does not have to include the `format` and `parse` functions of `date-fns`. At the end of the day, the default disp

[2020-02-05 07:08] dmtrKovalenko commented on #980
The main problem is how we can share them to be replaceable by user and get rid of object with functions. 🤷‍♂️ I don’t know

[2020-02-05 07:39] bengry commented on #980
You can always supply them via props, I don't see anything wrong with that.
[code]

If you want to use the default renderer you could implement a pattern similar to what [office-ui-fabric-react](https://github.com/OfficeDev/office-ui-fabric-react) uses:
[code]
where `defaultRender` accepts a [`ReactChild`](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts#L198)

[2020-02-05 07:50] dmtrKovalenko commented on #980
The main idea of the date-io is that user can import the adapter, one time pass it as a prop and any component will work out of the box

[code]

But how we can populate it as a tree shakable function? Only one way I can imagine -- each consumer of date-io will need to reexport needed functions as objects

[code]

And then in the code use them exactly like date-fns functions. But I don't think that

[2020-02-05 08:01] bengry commented on #980
You can always utilize React's Context in this case:
[code]

I personally don't like the usage of Context for this very much. I'd much rather have a `<DayPicker />`-wrapper component within the app's project that just gives that adapter/formatter/whatever else to the library's `<DayPicker />` and then use only that component from that point forward. I think this is what a lot of other apps are doi

[2020-02-05 08:04] dmtrKovalenko commented on #980
In case I am using Luxon for formatting and timezone management - I don't want to see 44kb of date-fns in my bundle. I`d better include 1.6kb of date-io adapter

[2020-02-05 08:40] bengry commented on #980
@dmtrKovalenko how is passing in props/using React Context not solving this issue? This way there's either no usage of `date-fns` in `react-day-picker`, or a very minimal one (just for `addDays` and the like, no formatting or anything like that).

[2020-02-05 08:41] dmtrKovalenko commented on #980
I think we are talking about different things :)
If you want we can continue discussion in twitter or somewhere.
Let’s not generate white noise in the issue

[2020-02-06 21:01] outerlook opened #988 "onTouchMove event support"
Hi! Is this supported yet? I didn't find it on docs. Is something blocking it?

[2020-02-13 08:12] drbeat commented on #981
I have the exact same issue.
Its not an issue with the wrapped component as a simple component like
[code]
already causes it.

my rollup config looks like this
[code]

[2020-02-13 14:29] KyorCode commented on #984
Timezone issue?

[2020-02-13 14:32] KyorCode commented on #986
That comment is indeed confusing. but what happens is:

- Day Click in from
- handleFromChange trigger
- onDayClicked trigger

Check the DayPickerProps on the 'from' DayPickerInput. It states: ´´´this.to.getInput().focus()´´´

[2020-02-18 09:23] mahnunchik opened #989 "Incorrect example in "Matching days with modifiers""
**Describe the bug**

Incorrect documentation of Matching days with modifiers http://react-day-picker.js.org/docs/matching-days

**To Reproduce**

[code]

Will produces classes `DayPicker-Day--from` on Date(2018, 0, 12) element and `DayPicker-Day--to` on new Date(2018, 0, 16) element. Not as described in the documentation: `.DayPicker-Day--highlighted` will match the days between the 12th and the

[2020-02-18 14:18] mahnunchik opened #991 "onDayTouchEnd event fired with the same date as onDayTouchStart"
**Describe the bug**

`onDayTouchEnd` event fired with the same date as `onDayTouchStart` even if touch ends on the different date.

**To Reproduce**

[CodeSandbox](https://codesandbox.io/s/react-day-picker-base-3r9r3) to reproduce the bug.

**Expected behavior**

`onDayTouchEnd` fired with the new `end` date.

**Additional context**

v 7.4.0

[2020-02-18 15:44] mahnunchik commented on #991
Expected behavior is like in the Select days on mouse enter example http://react-day-picker.js.org/examples/selected-range-enter

[2020-02-21 13:31] ivansky commented on #942
@gpbl Why tslint instead of eslint? As you may know TSLint is deprecated.
https://github.com/palantir/tslint/issues/4534

[2020-02-25 13:04] outerlook opened #992 "Scroll support if swiping over calendar"
Hi! I'm being affected by a UX problem that is bothering a bit.

When on mobile and with big calendars (the ones that displays more text on a single day) it gets difficult to navigate if the page is scrollable, since calendar may block a great portion of a mobile screen and swiping from calendar blocks scrolling events.

I know there are use cases where you should swipe over active days to pick ra

[2020-02-25 17:41] #992 closed

[2020-02-25 17:42] outerlook commented on #992
my bad, I've hardcoded `touch-action: none;` somewhere over my css.

[2020-02-26 07:09] sowdri commented on #975
This issue is happening if the library is loaded from `unpkg`

`<script src="https://unpkg.com/react-day-picker@7.4.0/lib/daypicker.min.js"></script>`

Refer to the attached screenshot for more info:

![image](https://user-images.githubusercontent.com/3541310/75320477-ae541d00-58be-11ea-9872-a56a817fa0eb.png)

[2020-02-28 02:53] osman144 opened #993 "How do I add a default value to the input component from the state ?"
<DayPickerInput  inputProps={{ style: { width: 300 } }} onDayChange={this.handleDayChange} />

Forgive my ignorance. Searched everywhere for this particular issue and reviewed the docs but can't seem to find anything.

- How do I add a default date or preset a day in the DayPickerInput component ?
- Is it possible to add a date from the state in to the input? How will the formatting work? I'd like

[2020-03-03 18:15] samuelramox commented on #942
Do you intend to put hour and minute adjustments in v8?

[2020-03-04 03:15] diegodesouza opened #997 "Warning after trying to add the component prop"
**Describe the bug**

I'm following the example in http://react-day-picker.js.org/api/DayPickerInput for the DayPickerInput, and also trying to add an icon to the component. I started with the example given in the above.

`
component={prop=> <input {...props}/>}
`

then i get this
[code]

thanks

[2020-03-04 14:04] diegodesouza commented on #869
@ekobayu Can you clarify what `<Input/>` component you're importing?

[2020-03-04 14:05] diegodesouza commented on #997
https://github.com/gpbl/react-day-picker/issues/869 I added the `inputProps={{ ref: null }}`
and the error went away.

[2020-03-04 14:05] #997 closed

[2020-03-04 14:13] ekobayu commented on #869
Hi @diegodesouza for ` <Input/> ` importing from react semantic library. On the head section I'm added this one `import { Input } from 'semantic-ui-react'`

[2020-03-04 14:59] diegodesouza commented on #869
gotcha, thank you @ekobayu will try that.

[2020-03-04 15:17] diegodesouza commented on #869
@ekobayu no success, I'm not sure what's happening, i asked this on stackoverflow as well https://stackoverflow.com/questions/60529206/how-to-add-icon-in-react-day-picker-daypickerinput

[2020-03-04 15:48] diegodesouza opened #998 "Question: How to add icon to DayPickerInput"
I have tried several things in an attempt to add a calendar icon to the `DayPickerInput` without success. I'd be great if we had an easier way to do so. Perhaps a prop on it?

Can you provide an example using a `component` or a `className`? I'm currently using the `react-icons` package.

thanks in advance

[2020-03-06 09:38] kevinlandsberg opened #999 "TodayButtonElement property to render customized TodayButton"
**Is your feature request related to a problem? Please describe.**
I cannot add my own button component to be rendered as the ```TodayButton```.

**Describe the solution you'd like**
The solution would be to have a property like ```weekdayElement``` or ```navbarElement```, to be able to customize the rendered ```HTML``` for the ```TodayButton```.

**Describe alternatives you've considered**
There

[2020-03-06 14:37] KyorCode commented on #999
You can use the captionElement for this.

https://react-day-picker.js.org/examples/elements-year-navigation

[2020-03-06 14:50] marcus-kindred commented on #998
You can pass a custom component to render in place of the provided input.

See the component property in the documentation: http://react-day-picker.js.org/api/DayPickerInput

Usage example:

[code]

Your custom input might look something like this:

[code]

Your base html inputs will need some styling on of course.

[2020-03-06 15:02] marcus-kindred commented on #998
Also note that the code above will be buggy, you will want to also handle forwarding the ref on to your custom input.

[2020-03-06 15:11] marcus-kindred commented on #977
A work around people can use if they need to:

Pass a custom input component to DayPickerInput with the component property and have that input replace undefined with an empty string.

[2020-03-06 15:18] marcus-kindred commented on #998
Handling the refs in TypeScript if it helps anyone:

Also fixes the issue #977

[code]

With your "MyInput" component looking like:

[code]

[2020-03-06 15:20] marcus-kindred commented on #957
Might response on #998 might help you, although it is in TypeScript

[2020-03-06 15:22] kevinlandsberg commented on #999
Lol? Did you understand my request? I am talking about the TodayButton which is rendered below the calendar...